(
    title: "Mr. Postman - Der Postmann",
    publisher: Some("Bit Corporation"),
    date: Some("1983"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["f9e1491d4cfea97822949349559a41d87a235d27"],
    source: None,
)
