(
    title: "Treasure Below",
    releases: [
        (
            date: Some("2002"),
            publisher: Some("Thomas Jentzsch"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "cb975d9fbf72a4ae833fffba865864a74146bdd7",
                ),
            ],
        ),
        (
            date: Some("1983"),
            publisher: Some("Video Gems"),
            hardware: (
                tv_format: Some(Pal),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "9a9917d82362c77b4d396f56966219fc248edf47",
                ),
            ],
        ),
    ],
)
