(
    title: "Strategy X",
    releases: [
        (
            date: Some("1983"),
            publisher: Some("Konami"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "9d6decda6e8ab263f7380ff662c814b8cb8caf34",
                ),
            ],
        ),
        (
            date: Some("1983"),
            publisher: Some("Gakken"),
            hardware: (
                tv_format: Some(Pal),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "96dbd3a9cb981c42540eac99b5869163a6fb81c4",
                ),
            ],
        ),
    ],
)
