(
    title: "Entity, The (Proto)",
    publisher: Some("20th Century Fox Video Games"),
    date: Some("1983"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["180d6aad4f5fe5dea553ef2e2ff233bd63592d00"],
    source: None,
)
