(
    title: "Super Mario 2",
    releases: [
        (
            date: Some("2011"),
            publisher: Some("jbs30000"),
            status: WorkInProgress,
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("F4SC"),
            ),
            artifacts: [
                (
                    sha1: "ab94771ec4f8450cdeb60d269b8b3e0b022e15b2",
                ),
            ],
        ),
    ],
)
