(
    title: "Tronman Project 2006 Demos - Tronman Logo",
    publisher: Some("Greg Zumwalt"),
    date: Some("2006"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["c06d7512e8a3274789b341852e874eb03a449974"],
    source: None,
)
