(
    title: "Double Dragon Improved (Double Dragon Hack)",
    publisher: Some("Juan Arceo"),
    date: Some("2006"),
    tv_format: Some(Ntsc),
    cart_type: Some("F6"),
    hashes: ["68545644d4a28cd1faa7da89b8cd318bb455feb7"],
    source: None,
)
