(
    title: "Sea Battle (High Seas)",
    publisher: Some("Intellivision Productions"),
    date: Some("1983"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["cfcc4f11ace2a7408b8122dbf80ab8ec6b56af76"],
    source: None,
)
