(
    title: "Working Game (WIP)",
    publisher: Some("Doug Dingus"),
    date: Some("2005"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["32f717cbe1c3068fd3c4689a7da14b607eb9f301"],
    source: None,
)
