(
    title: "Survival Run",
    publisher: Some("Milton Bradley Company"),
    date: Some("1983"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["6c993b4c70cfed390f1f436fdbaa1f81495be18e", "bcde63585092f84e437dd57f83bd67bd66b15646"],
    source: None,
)
