(
    title: "Multi Sprite",
    releases: [
        (
            date: Some("2005"),
            publisher: Some("Fred Quimby"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "6a35947c713517997d0a54c0a7880428a80048cc",
                ),
            ],
        ),
    ],
)
