(
    title: "AtariAge Combat Redux Design Contest - GregoryDGeorge_2",
    publisher: Some("George"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("2K"),
    hashes: ["6c38d2b32b217afdede14808e8dfe82fb571dd7a"],
    source: None,
)
