(
    title: "Create Your Own Adventure - Template Binary [h] [Adventure]",
    publisher: Some("Nukey Shay"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["7fdbb840483c1b5925aef7d16d8ffd03c2cc37c7"],
    source: None,
)
