(
    title: "Berzerk Trainer (Berzerk Hack)",
    releases: [
        (
            date: Some("2007"),
            publisher: Some("Kurt Howe"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "3d81d1aa619869680f8c5b0e67556e1573a4c966",
                ),
            ],
        ),
    ],
)
