(
    title: "Interlacing Game (19-08-2002) (Billy Eno)",
    publisher: Some("Billy Eno"),
    date: Some("2002"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["4b444a5bec70a68bc2165d74a378154255c6c397"],
    source: None,
)
