(
    title: "Eskimo Jump (4 Game in One)",
    releases: [
        (
            date: Some("1983"),
            publisher: Some("Bit Corporation"),
            hardware: (
                tv_format: Some(Pal),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "8ad03667bbf73d3c7760cb82f2c4442f8745483c",
                ),
            ],
        ),
    ],
)
