(
    title: "DK 2.0 (Donkey Kong Hack)",
    publisher: Some("Dr. Kwack"),
    date: Some("2003"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["c5cf0ab4e7abe2d6be1c6ca10b69a023f5339161"],
    source: None,
)
