(
    title: "Demon Attack",
    publisher: Some("Imagic"),
    date: Some("1982"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["03a9ea4191358ea65778b74b2f265089706a9a9a", "91a78b32fe6229509008be3f2fa087049f16da3c"],
    source: None,
)
