(
    title: "Grandia - Parallel Trippers",
    releases: [
        (
            regions: [
                Japan,
            ],
            artifacts: [
                (
                    sha1: "647b7cc5fa415ef7081aa37cd787eb41d2a3e574",
                    size: Some(4194304),
                ),
            ],
        ),
    ],
)
