(
    title: "Ant Soldiers",
    developer: Some("Gambit Studios"),
    hashes: [],
    source: Some(HomebrewHub(slug: "ant-soldiers", filename: "ant-soldiers.gb")),
    screenshots: ["ant-soldiers.png", "20110402_ant_soldiers.png"],
)
