(
    title: "Blox",
    releases: [
        (
            date: Some("2006"),
            publisher: Some("Chris Read"),
            status: WorkInProgress,
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "d645e6535786f1e91d9af0d19b51be446ce7f504",
                ),
            ],
        ),
    ],
)
