(
    title: "bB Music - Boxing Theme",
    publisher: Some("thegoldenband"),
    date: Some("2008"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["aa4daa250d499264419f5c0494cc7dd61cb9bb8e"],
    source: None,
)
