(
    title: "Hangly Man (pre-release) [h] [Pesco - Daily Release 2]",
    publisher: Some("Nukey Shay"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("F8"),
    hashes: ["898fa42716844165e6fb2569e367c91bd85364a3"],
    source: None,
)
