(
    title: "Springer",
    publisher: Some("Tigervision"),
    date: Some("1983"),
    tv_format: Some(Ntsc),
    cart_type: Some("3F"),
    hashes: ["6da0aa8aa40cd9c78dc014deb9074529688d91d0"],
    source: None,
)
