(
    title: "Scroll Test (demo)",
    publisher: Some("Maus Games"),
    date: Some("2006"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["1033749de420d5e2a2e9195229603608d63e7d67"],
    source: None,
)
