(
    title: "Thunder Ground",
    publisher: Some("Digivision"),
    date: Some("1983"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["30fce04edc13daa836406f28d4dd1131164366e7"],
    source: None,
)
