(
    title: "Downer",
    date: Some("2024-02-11"),
    developer: Some("DevEd"),
    hashes: [],
    source: Some(HomebrewHub(slug: "downer", filename: "downer.gb")),
    screenshots: ["downer.png"],
)
