(
    title: "Yuenan Zhanyi X - Shenru Dihou",
    releases: [
        (
            label: Some("Unl"),
            regions: [
                Taiwan,
            ],
            artifacts: [
                (
                    sha1: "6703e9f68b989c976e93bd2eb63f884ceaff63f1",
                    size: Some(2097152),
                ),
            ],
        ),
        (
            title: Some("Xin Fengkuang A Gei Pao Pao Tang"),
            label: Some("Unl"),
            regions: [
                Taiwan,
            ],
            artifacts: [
                (
                    sha1: "6d1332456e10e9da78726415640117262fe53e99",
                    size: Some(2097152),
                ),
            ],
        ),
    ],
)
