(
    title: "Still Got the Blues",
    platform: GB,
    developer: Some("Lean Art"),
    hashes: [],
    source: Some(HomebrewHub(slug: "leanart_sgb", filename: "sgb_jam.gb")),
    tags: ["No AI", "noise", "free-software", "GBJam", "8-Bit", "Sound effects", "mixer", "Open Source", "event:gbcompo25"],
    screenshots: ["cover.png", "screenshots/RadrWg.png", "screenshots/ums3na.png", "screenshots/CjpFgx.png", "screenshots/cFdvA2F.png", "screenshots/9MCj5Y.png", "screenshots/yN5cA7.png"],
    links: [
        (name: "Website", url: "https://leanart.itch.io/sgb", link_type: Wiki),
        (name: "Source Code", url: "https://github.com/TheLeanArt/StillGotTheBlues/", link_type: Source),
    ],
)
