(
    title: "Havoc Bug (WIP)",
    publisher: Some("diogoandrei"),
    date: Some("2011"),
    tv_format: Some(Ntsc),
    cart_type: Some("F6SC"),
    hashes: ["66dffa5c435f035d2599f9a56e6564a8e55bf752"],
    source: None,
)
