(
    title: "Greeting Cart - Julia Roberts",
    publisher: Some("Greg Zumwalt"),
    date: Some("2003"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["1d90897164f010ca5cab0ecfd1975e99f0ce5c68"],
    source: None,
)
