(
    title: "GB Basic",
    developer: Some("Jeff Frohwein"),
    covers: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/gb-basic/GBB108.png",
    ],
    screenshots: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/gb-basic/GBB108.png",
    ],
    releases: [
        (
            date: Some("2001-02-17"),
            sources: [
                HomebrewHub(
                    slug: "gb-basic",
                    filename: "GBBASIC.GB",
                ),
            ],
        ),
    ],
)
