(
    title: "Atomic Meltdown (WIP)",
    publisher: Some("Grant Thienemann"),
    date: Some("2011"),
    tv_format: Some(Ntsc),
    cart_type: Some("F4SC"),
    hashes: ["d91c5bbc36e5993ca42560e9760d6bf00fdae6e8"],
    source: None,
)
