(
    title: "Stunt Cycle (WIP)",
    publisher: Some("iesposta"),
    date: Some("2012"),
    tv_format: Some(Ntsc),
    cart_type: Some("DPC+"),
    hashes: ["7eb41dc261008c2976a43b1f9c3d29f10312f01a"],
    source: None,
)
