(
    title: "Intro #4 (Monkey Puncher)",
    date: Some("2002-01-01"),
    developer: Some("Capital"),
    hashes: [],
    source: Some(HomebrewHub(slug: "intro-4-capital", filename: "cpl-i_04.gbc")),
    screenshots: ["207.png"],
)
