(
    title: "Mickey Mouse V (Japan)",
    platform: GB,
    region: Some("Japan"),
    hashes: ["095285ec078124e3a4cbbfa3ac0d7680ee491e2b", "b8537bef22696feadf51343b6e1697370c4a8d5a"],
    source: None,
)
