(
    title: "Marauder",
    publisher: Some("Tigervision"),
    date: Some("1982"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["df02bb5418722fa5b8c1f112f717652a7f087d8c"],
    source: None,
)
