(
    title: "Goukaku Boy Series - Z-Kai Reibun de Oboeru - Chuugaku Eitango 1132",
    releases: [
        (
            regions: [
                Japan,
            ],
            hardware: (
                cgb: NotEnhanced,
            ),
            artifacts: [
                (
                    sha1: "a5f3e531b8becf0fa218d73d21c3775265df607e",
                    size: Some(262144),
                ),
            ],
        ),
    ],
)
