(
    title: "Cat Trax",
    publisher: Some("Thomas Jentzsch"),
    date: Some("2002"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["ae5859cf97ce7c6ed892eafd15acacdef439b2d3"],
    source: None,
)
