(
    title: "Southern Dreams",
    platform: GB,
    developer: Some("Southern Dreams"),
    hashes: [],
    source: Some(HomebrewHub(slug: "southern-dreams", filename: "b001.gb")),
    tags: ["event:liksang2000-compo"],
)
