(
    title: "Football",
    publisher: Some("Atari"),
    date: Some("1979"),
    tv_format: Some(Ntsc),
    cart_type: Some("2K"),
    hashes: ["c6fe4ce24bc1ebd538258d98cfe829963323acca"],
    source: None,
)
