(
    title: "Black Jack",
    developer: Some("Unknown"),
    hashes: [],
    source: Some(HomebrewHub(slug: "black-jack", filename: "BlackJack.cgb")),
    screenshots: ["20110402_black_jack.png"],
)
