(
    title: "Popeye (Prototype) (4K)",
    publisher: Some("Parker Brothers"),
    date: Some("1983"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["fe336290bdc7b68fdf3b4bb960800dd0dd073eb6"],
    source: None,
)
