(
    title: "Touhou GB",
    platform: GB,
    developer: Some("gnmmarechal"),
    description: Some("Homebrew clone of the Touhou bullet hell games."),
    hashes: [],
    source: Some(HomebrewHub(slug: "touhou-gb", filename: "touhou-gb.gb")),
    screenshots: ["touhou-gb.png"],
)
