(
    title: "Otto's Ottifanten - Baby Bruno's Alptraum (Europe) (En,Fr,De,Es)",
    region: Some("Europe"),
    hashes: ["22a18f5eb589347fa596432d249b0abca69aa93b", "93edd0772a3a65df17ec5877e2bcfafda3020169"],
    source: None,
)
