(
    title: "GB-Wordyl - French",
    releases: [
        (
            label: Some("Fr, v1.0.6"),
            regions: [
                World,
            ],
            artifacts: [
                (
                    sha1: "18077eb8bb10a9110126b16bd1838a500f446064",
                ),
                (
                    sha1: "5043a47f1761c63e54504c22909c920a849dfb93",
                ),
                (
                    sha1: "75d566045a680aaed4d40b83b6418cbfab5b4422",
                ),
            ],
        ),
    ],
)
