(
    title: "Dungeon Escape",
    developer: Some("Anders Granlund"),
    covers: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/dungeon-escape/Dungeon_Escape-0.png",
    ],
    screenshots: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/dungeon-escape/Dungeon_Escape-0.png",
    ],
    releases: [
        (
            date: Some("1997-11-26"),
            sources: [
                HomebrewHub(
                    slug: "dungeon-escape",
                    filename: "Dungeon_Escape.gb",
                ),
            ],
        ),
    ],
)
