(
    title: "Slime Atari-Ball",
    publisher: Some("Danny Miller"),
    date: Some("2007"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["9fbfd5f1363fbe90a9cd8c9e57834fbd9a6b4a08"],
    source: None,
)
