(
    title: "Legend of Zelda, The - Oracle of Ages (Europe) (En,Fr,De,Es,It)",
    region: Some("Europe"),
    hashes: ["880374fb978b18af4aa529e2e32f7ffb4d7dd2f4", "9f2dff3c46406839f839a8d535353dfc1e3e8670"],
    source: None,
)
