(
    title: "Dashy No Witch",
    platform: GB,
    developer: Some("voxel"),
    hashes: [],
    source: Some(HomebrewHub(slug: "dashy-no-witch", filename: "DashyHalloween2019.gb")),
    license: Some("0BSD"),
    screenshots: ["bgb00002.bmp", "bgb00003.bmp", "bgb00004.bmp", "bgb00005.bmp"],
    links: [
        (name: "Website", url: "https://voxel.itch.io/dashy-no-witch", link_type: Wiki),
    ],
)
