(
    title: "The Sound Machine - Jingle Bells 2",
    publisher: Some("Manuel Rotschkar"),
    date: Some("2005"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["60d30da766b331a633899ec93ba59b6a9a18c716"],
    source: None,
)
