(
    title: "2005 Minigame Multicart",
    publisher: Some("Fred Quimby"),
    date: Some("2005"),
    tv_format: Some(Ntsc),
    cart_type: Some("F4"),
    hashes: ["249a94c7515829287203eb16c70c230b5ba8d68e"],
    source: None,
)
