(
    title: "Last Crown Warriors",
    platform: GB,
    developer: Some("Light Games"),
    hashes: [],
    source: Some(HomebrewHub(slug: "last-crown", filename: "lastcrowndemo.gb")),
    screenshots: ["screenshot1.png"],
)
