(
    title: "Goukaku Boy Series - Shikakui Atama o Maruku Suru - Kokugo Battle Hen (Japan) (Imagineer)",
    platform: GB,
    region: Some("Japan"),
    hashes: ["3fc9c1bc1d3b8e7ee90c14d4ae4938726f61a2db", "75009ac4a2114b4ceac3e4bc7e6c3f3173292bf0"],
    source: None,
)
