(
    title: "Draw",
    releases: [
        (
            date: Some("2007"),
            publisher: Some("Fred Quimby"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("F8SC"),
            ),
            artifacts: [
                (
                    sha1: "75914892f559d79074453857486acd1c71a686c1",
                ),
            ],
        ),
    ],
)
