(
    title: "Alien Planet",
    year: Some("2001"),
    developer: Some("TNI"),
    description: Some("Alien Planet is a vertical shooter game."),
    hashes: [],
    source: Some(HomebrewHub(slug: "alien-planet", filename: "aplanet.gb")),
    tags: ["event:freedom-2001-gameboy-developers-competition"],
    screenshots: ["alienplanet.png", "20110402_alien_planet.png"],
)
