(
    title: "Beatmania GB - Gotcha Mix 2",
    releases: [
        (
            regions: [
                Japan,
            ],
            artifacts: [
                (
                    sha1: "dcd054d461cde099df09ed61a77b05fbacd7af0b",
                    size: Some(2097152),
                ),
            ],
        ),
    ],
)
