(
    title: "Flag Capture Black (Flag Capture Hack)",
    releases: [
        (
            date: Some("2005"),
            publisher: Some("Scott Dayton"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("2K"),
            ),
            artifacts: [
                (
                    sha1: "79eeedcce1ffea63891436a62a2fa3300b9d9d54",
                ),
            ],
        ),
    ],
)
