(
    title: "R2-D2's Jawa Trouble 2 (Pengo Hack)",
    publisher: Some("James Catalano"),
    date: Some("2005"),
    tv_format: Some(Ntsc),
    cart_type: Some("F8"),
    hashes: ["d23dfe12f5d1beb071b523c7cdebc1e3ca3f4318"],
    source: None,
)
