(
    title: "Hyper Olympic Series - Track & Field GB (Japan) (SGB Enhanced) (GB Compatible)",
    region: Some("Japan"),
    hashes: ["6dabafe260b53e61a810cbae2f14287adafffd8e"],
    source: None,
)
