(
    title: "Boxing [a]",
    publisher: Some("Activision"),
    date: Some("1981"),
    tv_format: Some(Pal),
    cart_type: Some("2K"),
    hashes: ["a74ab3e955d8f7656e977282636686632ba79648"],
    source: None,
)
