(
    title: "Micro Machines 2 - Turbo Tournament",
    releases: [
        (
            regions: [
                Europe,
            ],
            hardware: (
                cgb: NotEnhanced,
            ),
            artifacts: [
                (
                    sha1: "50fea244c7b8c982421fccd67bc8177cf510a306",
                    size: Some(524288),
                ),
            ],
        ),
    ],
)
