(
    title: "Bababal",
    developer: Some("Tory Sciacca"),
    tags: [
        "Card Game",
        "event:gbcompo25",
    ],
    covers: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/torysciacca_bababal/cover.png",
    ],
    screenshots: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/torysciacca_bababal/screenshots/DL7ze4.png",
        "https://raw.githubusercontent.com/gbdev/database/master/entries/torysciacca_bababal/screenshots/cKwCXk.png",
        "https://raw.githubusercontent.com/gbdev/database/master/entries/torysciacca_bababal/screenshots/xlMYHb.png",
        "https://raw.githubusercontent.com/gbdev/database/master/entries/torysciacca_bababal/screenshots/lnYvjI.png",
        "https://raw.githubusercontent.com/gbdev/database/master/entries/torysciacca_bababal/screenshots/t9iSl3.png",
        "https://raw.githubusercontent.com/gbdev/database/master/entries/torysciacca_bababal/screenshots/YZGB9Q.png",
    ],
    releases: [
        (
            sources: [
                HomebrewHub(
                    slug: "torysciacca_bababal",
                    filename: "Bababal_Jam.gb",
                ),
                Itch(
                    url: "https://torysciacca.itch.io/bababal",
                ),
            ],
        ),
    ],
)
