(
    title: "Gejmbåj",
    date: Some("2010-01-01"),
    developer: Some("Snorpung"),
    hashes: [],
    source: Some(HomebrewHub(slug: "gejmbaj", filename: "gejmboj.gb")),
    screenshots: ["614.png", "615.png", "616.png", "617.png", "618.png", "619.png", "620.png", "621.png", "622.png", "623.png", "624.png", "625.png"],
)
