(
    title: "Hangman Man Biglist2 (Hack)",
    releases: [
        (
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "73c861ee0a48bf06868c7ee42eb02abeb3ff0e4f",
                ),
            ],
        ),
    ],
)
