(
    title: "True Lies +1",
    platform: GB,
    developer: Some("Asgard"),
    hashes: [],
    source: Some(HomebrewHub(slug: "true-lies-1", filename: "ASG-T_01.GB")),
    screenshots: ["710.png"],
)
