(
    title: "Crazy Climber 2004 - Turd Slingers (Crackpots Hack)",
    publisher: Some("Jack Kortkamp"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["f174431e75e5b31b6fec88f9d8782e11834fc50f"],
    source: None,
)
