(
    title: "Hello_World!",
    platform: GB,
    developer: Some("Tronimal"),
    hashes: [],
    source: Some(HomebrewHub(slug: "hello_world", filename: "hello_world-download-version.gb")),
    screenshots: ["tronimal.png"],
)
