(
    title: "Cult of Blood, The (World) (Demo 1) (GB Compatible)",
    region: Some("World"),
    hashes: ["2700521c7ff492fb015cc8dd453672a5989b80a7", "60b41b89cc9bce22ea06595ee332c3c1549db935"],
    source: None,
)
