(
    title: "Snail Against Squirrel",
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["11726fb712dd6526f8d096dfac608a370bbfbf78", "e7bf450cf3a3f40de9d24d89968a4bc89b53cb18"],
    source: None,
)
