(
    title: "Spiderdroid (Supercharger Conversion Hack)",
    publisher: Some("Kurt Howe"),
    date: Some("2008"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["6adff9199ea15da7035be14a306a917801ccf9e7"],
    source: None,
)
