(
    title: "Pikachu Smash (Zombie Chase Hack)",
    releases: [
        (
            date: Some("2008"),
            publisher: Some("Davis Remmel"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "6b2b6b9369d6a46d255c5a811a16ebf5525aafe7",
                ),
            ],
        ),
    ],
)
