(
    title: "Boxen",
    publisher: Some("Videospielkassette"),
    date: Some("1981"),
    tv_format: Some(Pal),
    cart_type: Some("2K"),
    hashes: ["de7137596223f0e8d0f4e6cd675ea5344892c6f4"],
    source: None,
)
