(
    title: "AtariAge Indy 500 XE Track Design Contest - MoJoFLTR_33",
    publisher: Some("MoJoFLTR"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["c3483dc240e73f07cd41b8d45ae5063433a44bcb"],
    source: None,
)
