(
    title: "Super Football",
    publisher: Some("Atari"),
    date: Some("1988"),
    tv_format: Some(Pal),
    cart_type: Some("F6SC"),
    hashes: ["fa8db954eff4302ec518aaf7a477a073c1967a08"],
    source: None,
)
