(
    title: "Bibi und Tina - Fohlen Felix in Gefahr",
    releases: [
        (
            regions: [
                Germany,
            ],
            artifacts: [
                (
                    sha1: "59843ced1e9cbcb02c6acbb8f533ec77b314882c",
                    size: Some(1048576),
                ),
            ],
        ),
    ],
)
