(
    title: "GB-SHELL",
    developer: Some("TeamKNOx"),
    hashes: [],
    source: Some(HomebrewHub(slug: "gbcshell", filename: "shell.gb")),
    license: Some("MIT"),
    screenshots: ["shell-0.png"],
    links: [
        (name: "Website", url: "http://home.att.ne.jp/gamma/TeamKNOx/gameboy/gb_shelle.html", link_type: Wiki),
        (name: "Source Code", url: "https://gitlab.com/teamknox/gbcshell", link_type: Source),
    ],
)
