(
    title: "Perplex DX",
    developer: Some("Smacks-Designs"),
    covers: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/perplex-dx/perplexdx.png",
    ],
    screenshots: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/perplex-dx/perplexdx.png",
        "https://raw.githubusercontent.com/gbdev/database/master/entries/perplex-dx/20110402_perplex_deluxe.png",
    ],
    releases: [
        (
            date: Some("2001-02-27"),
            sources: [
                HomebrewHub(
                    slug: "perplex-dx",
                    filename: "perplexdx.gbc",
                ),
            ],
        ),
    ],
)
