(
    title: "Tronman Project 2006 Demos - Test Pattern 3",
    publisher: Some("Greg Zumwalt"),
    date: Some("2006"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["564466a1299a253814d51275e7dd4a9653701fbc"],
    source: None,
)
