(
    title: "Avalanche (WIP)",
    publisher: Some("John W. Champeau"),
    date: Some("2007"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["8409e5069a8bbde6f2ca0f2d0cd1efb24f69606f"],
    source: None,
)
