(
    title: "Berzerk Diagonal Firing (Berzerk Hack)",
    publisher: Some("Dennis Debro"),
    date: Some("2006"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["b2f30dbcf83e3cb23299c88dfd344032dc2fc62c"],
    source: None,
)
