(
    title: "Register Twiddler Demo (PD)",
    publisher: Some("PD"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["47371d770d5ebd997f526fa3e73bd99ff8a6d9d2"],
    source: None,
)
