(
    title: "Pineapple 2000 (Space Invaders Hack) [a]",
    publisher: Some("Justin Bardin"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["85098e659f2b442744b35bf783ac51f3c919c6be"],
    source: None,
)
