(
    title: "Arkyology (Prototype)",
    publisher: Some("Sparrow"),
    date: Some("1983"),
    tv_format: Some(Ntsc),
    cart_type: Some("F8"),
    hashes: ["df30a11c28e0988939ede9590f36690f94cb6778"],
    source: None,
)
