(
    title: "Punk",
    year: Some("1998"),
    developer: Some("Anders Granlund"),
    hashes: [],
    source: Some(HomebrewHub(slug: "punk", filename: "Punk.gb")),
    screenshots: ["punk.png"],
)
