(
    title: "Kindercomp (WIP)",
    publisher: Some("Chris Read"),
    date: Some("2007"),
    tv_format: Some(Ntsc),
    cart_type: Some("F6SC"),
    hashes: ["df5efec475d7ce3f605bb28b72f5819bc3b225a0"],
    source: None,
)
