(
    title: "Greeting Cart - AtariAge Xmas",
    publisher: Some("Andrew Davie"),
    date: Some("2003"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["391d7b5a04306da67db73d05af435a4cb6b35764"],
    source: None,
)
