(
    title: "Spark",
    date: Some("2023-05-20T19:46:00"),
    developer: Some("LotusGameDev"),
    description: Some("A Lotus/Katharou game for Gameboy Showdown 2023"),
    hashes: [],
    source: Some(HomebrewHub(slug: "spark", filename: "game.gb")),
    tags: ["Action", "event:gbshowdown23"],
    screenshots: ["cover.png", "Hvm6pT.png"],
    links: [
        (name: "Website", url: "https://lotusgamedev.itch.io/spark", link_type: Wiki),
    ],
)
