(
    title: "Time Pilot [b1]",
    publisher: Some("Coleco"),
    date: Some("1983"),
    tv_format: Some(Ntsc),
    cart_type: Some("F8"),
    hashes: ["b7424469f9d5553e1ec5718ef87cd06524f61ee9"],
    source: None,
)
