(
    title: "AtariAge Combat Redux Design Contest - JeffThompson_20",
    publisher: Some("Thompson"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("2K"),
    hashes: ["7636a381555a9f43432294953773c45d3143cd25"],
    source: None,
)
