(
    title: "Solar Fox (Prototype) (4K)",
    publisher: Some("CBS Electronics"),
    date: Some("1983"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["d26181a137ad83fe99fbfca425b793e9fe7db132"],
    source: None,
)
