(
    title: "Jay und die Spielzeugdiebe",
    releases: [
        (
            regions: [
                Germany,
            ],
            artifacts: [
                (
                    sha1: "dd01d68bab2d3615f173e4c9c94da56248fab580",
                    size: Some(1048576),
                ),
            ],
        ),
    ],
)
