(
    title: "Video Chess",
    publisher: Some("Atari"),
    date: Some("1979"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["043ef523e4fcb9fc2fc2fda21f15671bf8620fc3", "77d7cd676c3caf4cf6807b3489c8f71268902022"],
    source: None,
)
