(
    title: "Gehirn Demo",
    publisher: Some("wAMMA"),
    date: Some("2007"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["42bcd941346bd7991db34f4541b9de864ab2ee38"],
    source: None,
)
