(
    title: "Doctor Demo (Emulator)",
    publisher: Some("Trilobit"),
    date: Some("2008"),
    tv_format: Some(Pal),
    cart_type: Some("F8"),
    hashes: ["6cdfbfdffd3af9e508f0ec78206ae4168992f91a", "a598ba5ff844b7721e36fb4998ba32e8464ce779"],
    source: None,
)
