(
    title: "Greeting Cart - Jenn L.",
    releases: [
        (
            date: Some("2003"),
            publisher: Some("Greg Zumwalt"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "8a4b7365503d5dad17a12f897097f64b985321b2",
                ),
            ],
        ),
    ],
)
