(
    title: "Where Da Jam At?",
    developer: Some("Hyper Tech Games"),
    hashes: [],
    source: Some(HomebrewHub(slug: "hypertechgames_where-da-jam-at", filename: "WhereDaJamAt_jam.gb")),
    tags: ["event:gbcompo25"],
    screenshots: ["cover.png", "screenshots/YYLfR7.png", "screenshots/3MCmW4.png", "screenshots/2BAfR0s.png"],
    links: [
        (name: "Website", url: "https://hypertechgames.itch.io/where-da-jam-at", link_type: Wiki),
    ],
)
