(
    title: "Fix My Heart",
    releases: [
        (
            label: Some("GB Compo 2021"),
            regions: [
                World,
            ],
            artifacts: [
                (
                    sha1: "28ad64e379dc60d6e1c2617e073f6361c0feb475",
                ),
            ],
        ),
    ],
)
