(
    title: "Beta Soul",
    releases: [
        (
            label: Some("v1.1"),
            regions: [
                World,
            ],
            artifacts: [
                (
                    sha1: "66354c5e074eaeaf4af8370c681eeaa354001de7",
                ),
            ],
        ),
    ],
)
