(
    title: "Breakout ~ Breakaway IV",
    publisher: Some("Atari"),
    date: Some("1978"),
    tv_format: Some(Ntsc),
    cart_type: Some("F6"),
    hashes: ["e4fd226c66d40581e63ee3200e07eba409cb28f3"],
    source: None,
)
