(
    title: "Puzzlex 2",
    date: Some("2000-07-23"),
    developer: Some("Par Johannesson"),
    hashes: [],
    source: Some(HomebrewHub(slug: "puzzlex-2", filename: "Puzzlex 2 by Par Johannesson (PD) [C].gbc")),
    screenshots: ["Puzzlex 2 by Par Johannesson (PD) [C].png"],
)
