(
    title: "Strategy X",
    publisher: Some("Gakken"),
    date: Some("1983"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["96dbd3a9cb981c42540eac99b5869163a6fb81c4", "9d6decda6e8ab263f7380ff662c814b8cb8caf34"],
    source: None,
)
