(
    title: "Othello",
    publisher: Some("Atari"),
    date: Some("1981"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["153e01badcc77ef75b1781fd26aaa0fce1ebb6f7"],
    source: None,
)
