(
    title: "Vanguard",
    publisher: Some("Atari"),
    date: Some("1983"),
    tv_format: Some(Pal),
    cart_type: Some("F8"),
    hashes: ["1a44918fa764da8dde97a7543a181ccf6756868b", "425d27685c78667f0e7500595b6cc2e36149538c"],
    source: None,
)
