(
    title: "3-D Tic-Tac-Toe",
    publisher: Some("Atari"),
    date: Some("1980"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["f93a1067958a17c14ee72c6b611cffc16901f58b"],
    source: None,
)
