(
    title: "Cave In Update",
    publisher: Some("Steve Engelhardt"),
    date: Some("2012"),
    tv_format: Some(Ntsc),
    cart_type: Some("F4SC"),
    hashes: ["2517511545d3bf957679f615b99c49a36846e954"],
    source: None,
)
