(
    title: "Octopus (WIP)",
    publisher: Some("Fred Quimby"),
    date: Some("2007"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["e20070b7dc4de9a1d09cee612c98b40739c2c2d9"],
    source: None,
)
