(
    title: "Spacechase - Monogrammed Edition (Space Attack)",
    publisher: Some("Apollo"),
    date: Some("1982"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["9d3184a7faf716a1d80cc3de90d56001f100678e"],
    source: None,
)
