(
    title: "Spacechase - Monogrammed Edition (Space Attack)",
    releases: [
        (
            date: Some("1982"),
            publisher: Some("Apollo"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "9d3184a7faf716a1d80cc3de90d56001f100678e",
                ),
            ],
        ),
    ],
)
