(
    title: "Airlock",
    publisher: Some("Gameworld"),
    date: Some("1983"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["a94b103806d33546aa8fac0056cd57b818bfed8c"],
    source: None,
)
