(
    title: "Better Than Pitfall II Music V8",
    publisher: Some("John Payson"),
    date: Some("2007"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["8660991c67cfd7b7c944521f641b4dd2f60f4bc4"],
    source: None,
)
