(
    title: "Edtris",
    publisher: Some("Ed Federmeyer"),
    date: Some("1995"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["162e896c105e4c3821bc1a9453ead80b231537f4", "2681b456e5e3f0d8cb3f57752fd08e7831ed6c77"],
    source: None,
)
