(
    title: "Chunk Out",
    date: Some("2016-08-14"),
    developer: Some("James Todd"),
    hashes: [],
    source: Some(HomebrewHub(slug: "chunk-out", filename: "chunkout.gbc")),
    screenshots: ["chunkout.png", "20110402_chunkout.png"],
)
