(
    title: "Vectrony",
    developer: Some("Black Thunder"),
    covers: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/vectrony/719.png",
    ],
    screenshots: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/vectrony/719.png",
    ],
    releases: [
        (
            date: Some("1999-01-01"),
            sources: [
                HomebrewHub(
                    slug: "vectrony",
                    filename: "vectrony.gbc",
                ),
            ],
        ),
    ],
)
