(
    title: "AtariAge Combat Redux Design Contest - RonCorcoran_2",
    publisher: Some("Ron Corcoran"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("2K"),
    hashes: ["c5cf2d45ab1e518b6bee2eb61dc81be1258f0c95"],
    source: None,
)
