(
    title: "Yurivania III - Circle of the Polycule",
    releases: [
        (
            label: Some("v1.4"),
            regions: [
                World,
            ],
            artifacts: [
                (
                    sha1: "91178b5ba17e891060badf0c7681e6a76052de97",
                ),
            ],
        ),
    ],
)
