(
    title: "Space Shooter (WIP)",
    publisher: Some("Bob Montgomery"),
    date: Some("2006"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["6c015e4ad96b78ab6af8c58370eab02d68b482e5"],
    source: None,
)
