(
    title: "Oink!",
    publisher: Some("Activision"),
    date: Some("1983"),
    tv_format: Some(Ntsc),
    cart_type: Some("F6"),
    hashes: ["bf7b4e84537013593e2197fefa2b59d657ed8cdf"],
    source: None,
)
