(
    title: "Flappy Boy",
    platform: GB,
    developer: Some("Felipe Alfonso"),
    hashes: [],
    source: Some(HomebrewHub(slug: "flappy-boy", filename: "flappyboy.gb")),
    tags: ["Open Source", "Action"],
    links: [
        (name: "Website", url: "http://voidptr.io/blog/2017/01/21/GameBoy.html", link_type: Wiki),
        (name: "Source Code", url: "https://github.com/bitnenfer/flappy-boy-asm", link_type: Source),
    ],
)
