(
    title: "Sky Diver Deluxe (Sky Diver Hack)",
    releases: [
        (
            date: Some("2005"),
            publisher: Some("David Weavil"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("2K"),
            ),
            artifacts: [
                (
                    sha1: "709f8d9cd820b43ad3272a6e1e1956d894ce3b91",
                ),
            ],
        ),
    ],
)
