(
    title: "Gremlins - Unleashed (Europe) (En,Fr,De,Es,It,Pt)",
    region: Some("Europe"),
    hashes: ["675623b58fa0d307355c77d7a4783af7927681e9", "d18e30a434262f7bf46a8db2e5f62ce19b7ecfaa"],
    source: None,
)
