(
    title: "AtariAge Combat Redux Design Contest - GregoryDGeorge_5",
    publisher: Some("George"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("2K"),
    hashes: ["0bc8fd489d1f296210563707d61981b565783f98"],
    source: None,
)
