(
    title: "Minotaur Version 7 Demo (08-20-1982)",
    publisher: Some("Western Technologies"),
    date: Some("1982"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["6933d8fa0552983858f801337d62c57789cc0a61"],
    source: None,
)
