(
    title: "Panda Chase",
    publisher: Some("HomeVision"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["6fa70cd79c3e18cd47d027b234c4ff4b14603327", "f07b47cd6f3362eb051eab3eca564183d0d46c0c"],
    source: None,
)
