(
    title: "Donkey Kong Junior",
    publisher: Some("Atari"),
    date: Some("1987"),
    tv_format: Some(Ntsc),
    cart_type: Some("F8"),
    hashes: ["98f98ac0728c68de66afda6500cafbdffe8ab50a", "f2e1d93b994911f815a38bda5fed8d9796ef4fda"],
    source: None,
)
