(
    title: "20 Sprites at Once Demo 4 (PD)",
    releases: [
        (
            publisher: Some("PD"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "55a65b584e3346f45c0955b20a2369233b180e8c",
                ),
            ],
        ),
    ],
)
