(
    title: "madpews battlegrounds",
    year: Some("2020"),
    developer: Some("madpew"),
    description: Some("A short game about cats throwing rocks in a backyard."),
    hashes: [],
    source: Some(HomebrewHub(slug: "madpews-battlegrounds", filename: "battlegrounds.gb")),
    license: Some("Unlicense"),
    tags: ["Open Source"],
    screenshots: ["title.png", "game.png"],
    links: [
        (name: "Website", url: "https://madpew.itch.io/madpews-battleground", link_type: Wiki),
        (name: "Source Code", url: "https://github.com/madpew/hello-asm", link_type: Source),
    ],
)
