(
    title: "AtariAge Indy 500 XE Track Design Contest - RicoDones_3",
    publisher: Some("Rico Dones"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["733505956badfb79c20f43f01fecf59d7e371d29"],
    source: None,
)
