(
    title: "Demons! (Hack)",
    publisher: Some("SpkLeader"),
    date: Some("2003"),
    tv_format: Some(Ntsc),
    cart_type: Some("F8"),
    hashes: ["9e4daa9c4fd3f6cf670d374e717fbaa17218b976"],
    source: None,
)
