(
    title: "Booster (Junkosoft) (PD)",
    publisher: Some("Junkosoft"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["dc68110f027366e092b5c453f7f23b005c52906d"],
    source: None,
)
