(
    title: "Labirinth",
    developer: Some("godai / Gniazdo Światów"),
    description: Some("Lost in a strange world, proceed by helping the poeple you meet on your way"),
    license: Some("CC-BY-SA 4.0"),
    tags: [
        "Adventure",
        "RPG",
    ],
    links: [
        (
            name: "Source Code",
            url: "https://github.com/godai78/labirinth",
            link_type: Source,
        ),
    ],
    covers: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/labirinth/potatoes.jpg",
    ],
    screenshots: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/labirinth/potatoes.jpg",
        "https://raw.githubusercontent.com/gbdev/database/master/entries/labirinth/town.jpg",
    ],
    releases: [
        (
            sources: [
                HomebrewHub(
                    slug: "labirinth",
                    filename: "Labirinth.gbc",
                ),
            ],
        ),
    ],
)
