(
    title: "Greeting Cart - Catherine Bell",
    publisher: Some("Greg Zumwalt"),
    date: Some("2003"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["75e4611b02dc734ff4d177c7f00e96ca55b7c687"],
    source: None,
)
