(
    title: "Commando Death",
    platform: GB,
    developer: Some("Unknown"),
    hashes: [],
    source: Some(HomebrewHub(slug: "commando-death", filename: "CommandoDeath.gb")),
    screenshots: ["20110402_commando_death.png"],
)
