(
    title: "Earth 2050 (Space Tunnel Hack)",
    publisher: Some("GameboyReviewer"),
    date: Some("2008"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["7973c81b739503622a52511138b939915479dd48"],
    source: None,
)
