(
    title: "Goukaku Boy Series - Z-Kai Kyuukyoku no Eitango 1500",
    releases: [
        (
            regions: [
                Japan,
            ],
            hardware: (
                cgb: NotEnhanced,
            ),
            artifacts: [
                (
                    sha1: "f439497b513262d2c98b622af1a00f4efd8650a6",
                    size: Some(262144),
                ),
            ],
        ),
    ],
)
