(
    title: "Laser Blast",
    publisher: Some("Activision"),
    date: Some("1981"),
    tv_format: Some(Ntsc),
    cart_type: Some("F6"),
    hashes: ["f14cd01c48c70245069e745ddb5f9d6ee139c4a0"],
    source: None,
)
