(
    title: "Vertical Mess Demo",
    covers: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/vertical-mess-demo/Vertical Mess Demo (PD) [C].png",
    ],
    screenshots: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/vertical-mess-demo/Vertical Mess Demo (PD) [C].png",
    ],
    releases: [
        (
            date: Some("1999-01-26"),
            sources: [
                HomebrewHub(
                    slug: "vertical-mess-demo",
                    filename: "Vertical Mess Demo (PD) [C].gbc",
                ),
            ],
        ),
    ],
)
