(
    title: "Xenophobe Arcade Mr M Brace (Xenophobe Hack)",
    releases: [
        (
            date: Some("2012"),
            publisher: Some("KevinMos3"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("F6"),
            ),
            artifacts: [
                (
                    sha1: "e7cfc290087ee0c42b3e69a461db824f4ba5421b",
                ),
            ],
        ),
    ],
)
