(
    title: "Bee Ball",
    publisher: Some("Ivan Machado"),
    date: Some("2007"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["d182f4e5f42398871fe00f28a570566442184c66"],
    source: None,
)
