(
    title: "Pac-Man Plus (Ms. Pac-Man Hack)",
    releases: [
        (
            date: Some("2003"),
            publisher: Some("Bob DeCrescenzo"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("F8"),
            ),
            artifacts: [
                (
                    sha1: "b931bd05007d9e1f7900748f7b96dbb63965b940",
                ),
            ],
        ),
    ],
)
