(
    title: "Greeting Cart - Autobots",
    publisher: Some("Greg Zumwalt"),
    date: Some("2003"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["cb6e41d2661800442ac05da9826e75257c267673"],
    source: None,
)
