(
    title: "M.A.D.",
    publisher: Some("Carrere Video"),
    date: Some("1983"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["86df578e913485089d9b3b3e7384076b53a98450"],
    source: None,
)
