(
    title: "Gunfight 2600 - Descissions had to be made (Manuel Rotschkar)",
    releases: [
        (
            date: Some("2001"),
            publisher: Some("Hozer Video Games"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "c0b01b3e24e7dccf385049a5f2b935197cf629f2",
                ),
            ],
        ),
    ],
)
