(
    title: "Tetris Adventure - Susume Mickey to Nakama-tachi (Japan)",
    region: Some("Japan"),
    hashes: ["a8842e85f2c6de4db40b47c9640dad59ae9d1c51", "aa7dd2044a7e1535da67d7b9439e9771f736086a"],
    source: None,
)
