(
    title: "Pole Position",
    publisher: Some("Atari"),
    date: Some("1983"),
    tv_format: Some(Pal),
    cart_type: Some("F8"),
    hashes: ["b27e301c2936aab5e219dc80b09907d711885c07", "bf89876abac4fa300ed6862a0ae87a6c5fe84c13"],
    source: None,
)
