(
    title: "Blue Jay's Move (Smurf Hack) (WIP)",
    publisher: Some("Espire8"),
    date: Some("2007"),
    tv_format: Some(Ntsc),
    cart_type: Some("F8"),
    hashes: ["3be6bec5c3f10b299d753907f321a02c62899806"],
    source: None,
)
