(
    title: "AtariAge Combat Redux Design Contest - StevePierson_5",
    publisher: Some("Steve Pierson"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("2K"),
    hashes: ["766b154fbfaee668ecc27296154187fed8125083"],
    source: None,
)
