(
    title: "E.T. 2 (WIP)",
    publisher: Some("Chris Read"),
    date: Some("2007"),
    tv_format: Some(Ntsc),
    cart_type: Some("F8"),
    hashes: ["3dde5ce15828642bd4918a37a280f2b991b875cc"],
    source: None,
)
