(
    title: "Mario vs. Luigi",
    publisher: Some("Chris Sumsky"),
    date: Some("2007"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["d2a22cb677979463abbf24cb4660ebaa0b65ffde"],
    source: None,
)
