(
    title: "A-Team (Hack)",
    publisher: Some("Manuel Polik"),
    date: Some("2002"),
    tv_format: Some(Ntsc),
    cart_type: Some("F8"),
    hashes: ["9b58156b5d356b14006d0c9df8a63afbdc0a7928"],
    source: None,
)
