(
    title: "Hunter x Hunter - Kindan no Hihou",
    releases: [
        (
            regions: [
                Japan,
            ],
            artifacts: [
                (
                    sha1: "ef131fb2752b8ff996bf1aaaebd22887e380aa31",
                    size: Some(1048576),
                ),
            ],
        ),
    ],
)
