(
    title: "Tunnel Demo 2 (27-03-2003) (Christopher Tumber)",
    publisher: Some("CT"),
    date: Some("2003"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["4df103678f9c88b017e64f1e14e741fc6e15340c"],
    source: None,
)
