(
    title: "Combat (32 in 1)",
    releases: [
        (
            date: Some("1988"),
            publisher: Some("Atari"),
            hardware: (
                tv_format: Some(Pal),
                cart_type: Some("2K"),
            ),
            artifacts: [
                (
                    sha1: "5a078ce2087a07bc3c35f8479f0570bfb4ed9c8d",
                ),
                (
                    sha1: "61c8a4b011b2cc31d1faa304a6b76acbd4cad25c",
                ),
            ],
        ),
        (
            date: Some("1988"),
            publisher: Some("Atari"),
            hardware: (
                tv_format: Some(Pal),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "6b81d14d63697135434a681ae4ca60a03ddb7327",
                ),
                (
                    sha1: "a56b43a8b17a0d0bd0a675d71f8638be453fdff8",
                ),
            ],
        ),
    ],
)
