(
    title: "Shock Lobster",
    date: Some("1633053600"),
    developer: Some("tbsp"),
    hashes: [],
    source: Some(HomebrewHub(slug: "shock-lobster", filename: "shocklobster.gb")),
    license: Some("ZLib"),
    tags: ["gbcompo21", "Open Source", "gbcompo21-shortlist"],
    screenshots: ["sh.png", "Ubg+0m.png", "k5Mb8Z.png"],
    links: [
        (name: "Website", url: "https://tbsp.itch.io/shock-lobster", link_type: Wiki),
        (name: "Source Code", url: "https://github.com/tbsp/shock-lobster", link_type: Source),
    ],
)
