(
    title: "Memory Lane (Gameboy Edition)",
    platform: GB,
    developer: Some("ComSha"),
    hashes: [],
    source: Some(HomebrewHub(slug: "memory-lane-gameboy-edition", filename: "memory-lane-gameboy-edition.gb")),
)
