(
    title: "Car Demo",
    year: Some("1997"),
    developer: Some("Jeff Frohwein"),
    hashes: [],
    source: Some(HomebrewHub(slug: "car-demo", filename: "L2.GB")),
    screenshots: ["L2.png"],
)
