(
    title: "Greeting Cart - Ali Landry Closeup",
    publisher: Some("Greg Zumwalt"),
    date: Some("2003"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["0da3189d91ae5da9d67f5420495741b70a3b6ba9"],
    source: None,
)
