(
    title: "Moonsweeper [a]",
    publisher: Some("Imagic"),
    date: Some("1983"),
    tv_format: Some(Pal),
    cart_type: Some("F8"),
    hashes: ["42e0083557ff540524f3a68eb062d045ed9a7f41"],
    source: None,
)
