(
    title: "Gunman Clive",
    developer: Some("Bertil Horberg"),
    hashes: [],
    source: Some(HomebrewHub(slug: "gunman-clive", filename: "gunman-clive.gb")),
    screenshots: ["gunman-clive.png"],
)
