(
    title: "Tropical Persuasion",
    developer: Some("HighTowerBK"),
    description: Some("Submission for the Game Boy Showdown 2023"),
    tags: [
        "Adventure",
        "event:gbshowdown23",
    ],
    covers: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/tropical-persuasion/cover.png",
    ],
    screenshots: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/tropical-persuasion/wXDCcJ.png",
        "https://raw.githubusercontent.com/gbdev/database/master/entries/tropical-persuasion/qO5Y22B.png",
        "https://raw.githubusercontent.com/gbdev/database/master/entries/tropical-persuasion/2F2BIsqv.png",
        "https://raw.githubusercontent.com/gbdev/database/master/entries/tropical-persuasion/YQRnr9.png",
    ],
    releases: [
        (
            sources: [
                HomebrewHub(
                    slug: "tropical-persuasion",
                    filename: "Tropical_Persuasion.gb",
                ),
                Itch(
                    url: "https://hightowerbk.itch.io/tropical-persuasion",
                ),
            ],
        ),
    ],
)
