(
    title: "Simpsons, The - Bart vs. the Juggernauts (USA, Europe)",
    platform: GB,
    region: Some("USA, Europe"),
    hashes: ["95d60b87862fccd914446e0581146142d19c76bd"],
    source: None,
)
