(
    title: "Game Boy Test Cartridge (USA, Europe) (Proto) (Test Program)",
    platform: GB,
    region: Some("USA, Europe"),
    hashes: ["ce9c211852b4357b1356bb015db6f675def69c9f"],
    source: None,
)
