(
    title: "Miner Vol II (Infinite Lives)",
    publisher: Some("Omegamatrix"),
    date: Some("2009"),
    tv_format: Some(Pal),
    cart_type: Some("3F"),
    hashes: ["25b680480a089467943d59a49c4872e3c7e6c7b0", "ba02ee72d9635e6c8b397e49eeb9f14e40fb1b07"],
    source: None,
)
