(
    title: "Yars' Revenge [a]",
    publisher: Some("Atari"),
    date: Some("1982"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["dae93f03a1ccdab6f3296c7409fcc7402566ccba"],
    source: None,
)
