(
    title: "AtariAge Combat Redux Design Contest - Spike_2",
    publisher: Some("SPIKE"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("2K"),
    hashes: ["d40405ee58d8231c2ba469bb5b7c2cd15bb2ae55"],
    source: None,
)
