(
    title: "Bustfree!",
    platform: GB,
    developer: Some("adamsmasher"),
    hashes: [],
    source: Some(HomebrewHub(slug: "bustfree", filename: "bustfree.gb")),
    links: [
        (name: "Website", url: "https://github.com/adamsmasher/bustfree", link_type: Wiki),
    ],
)
