(
    title: "Hungry Birds",
    platform: GB,
    developer: Some("oshf"),
    description: Some("Made in 48 Hours for the ZGBJAM2 game jam."),
    hashes: [],
    source: Some(HomebrewHub(slug: "hungry-birds", filename: "HungryBirds.gb")),
    screenshots: ["screenshot1.png", "screenshot2.png"],
)
