(
    title: "Hangman Pac-Man Original Words (Hack)",
    releases: [
        (
            date: Some("2003"),
            publisher: Some("Glenn Bussell"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "f64ca4a0227ab7341051cc1c465cff43f48e76bb",
                ),
            ],
        ),
    ],
)
