(
    title: "Battlezone PAL Color Hack (Battlezone Hack)",
    releases: [
        (
            publisher: Some("Thomas Jentzsch"),
            hardware: (
                tv_format: Some(Pal),
                cart_type: Some("F8"),
            ),
            artifacts: [
                (
                    sha1: "11e386129d5d900ee39ee0a0acf86df370d6edd1",
                ),
            ],
        ),
    ],
)
