(
    title: "Big Scroller",
    platform: GB,
    developer: Some("Anders Granlund"),
    hashes: [],
    source: Some(HomebrewHub(slug: "big-scroller", filename: "Bc.gb")),
    screenshots: ["big-scroller.png"],
)
