(
    title: "Dukes of Hazzard, The - Racing for Home (Europe) (En,Fr,De)",
    region: Some("Europe"),
    hashes: ["6a39dfbce8b86db84615cdb5fb24012cbbac7b36", "782337f5338a242bc8cbaeb69ce7f1e87bb0f6b9"],
    source: None,
)
