(
    title: "DKJR Improved (Donkey Kong Junior Hack)",
    publisher: Some("Dr. Kwack"),
    date: Some("2005"),
    tv_format: Some(Ntsc),
    cart_type: Some("F8"),
    hashes: ["48036495fbf3d52252fdf529d07c324ae8484e10", "56ef9e78c899c7a7d65498262f64f8c606fef9c9"],
    source: None,
)
