(
    title: "Songmain Glitch Remix Music (Hack)",
    publisher: Some("Paul Slocum"),
    date: Some("2008"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["0eb8ba0b7eb4832f73f89c72006e3b61abc7323e"],
    source: None,
)
