(
    title: "AtariAge Indy 500 XE Track Design Contest - MariaPoklemba_6",
    publisher: Some("Maria Poklemba"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["3f5448e213757bb5a1983be996b0d1051c47a3c4"],
    source: None,
)
