(
    title: "Warring Worms - The WormTurns (Re)",
    publisher: Some("Billy Eno"),
    date: Some("2005"),
    tv_format: Some(Ntsc),
    cart_type: Some("F8"),
    hashes: ["71259fee3770f2d1bf65e3374c885f507d4d5b24"],
    source: None,
)
