(
    title: "Revenge of the Beefsteak Tomatoes",
    releases: [
        (
            date: Some("1983"),
            publisher: Some("20th Century Fox Video Games"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "f8a9dd46f9bad232f74d1ee2671ccb26ea1b3029",
                ),
            ],
        ),
    ],
)
