(
    title: "The Wicked Father",
    publisher: Some("Juno"),
    date: Some("2011"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["446dfd1b20c086be6b32b74aa8b4f6b040aca518"],
    source: None,
)
