(
    title: "Absolute X",
    releases: [
        (
            regions: [
                Europe,
            ],
            status: Prototype,
            artifacts: [
                (
                    sha1: "34fa9bc6b1fec75751f1f426528f18c833128ff7",
                    size: Some(1048576),
                ),
            ],
        ),
    ],
)
