(
    title: "The Chorus Continues",
    date: Some("2023-07-01"),
    developer: Some("Inversion"),
    hashes: [],
    source: Some(HomebrewHub(slug: "the-chorus-continues", filename: "the-chorus-continues.gb")),
    screenshots: ["the-chorus-continues.png"],
)
