(
    title: "Chronocolor Frame Demo (10-01-2003) (Andrew Davie)",
    publisher: Some("Davie"),
    date: Some("2003"),
    tv_format: Some(Ntsc),
    cart_type: Some("3F"),
    hashes: ["6cfcc22af80807ffdd51ecee93ac40ce160b2727"],
    source: None,
)
