(
    title: "Dancer",
    publisher: Some("Sarah Clark"),
    date: Some("2007"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["5e6b952a6440ceff572427adf300ea6900051183"],
    source: None,
)
