(
    title: "Hermano (Game Boy)",
    year: Some("2023"),
    developer: Some("Pat Morita Team"),
    hashes: [],
    source: Some(HomebrewHub(slug: "patmorita__hermano-game-boy", filename: "Hermano_1.1_jam.gb")),
    tags: ["event:gbcompo23", "Action"],
    screenshots: ["fAkFkL.png", "xdhLjE.png", "Ku0XMb.png", "UgACzl.png", "lASw2BX.png", "cover.png"],
    links: [
        (name: "Website", url: "https://patmorita.itch.io/hermano-game-boy", link_type: Wiki),
        (name: "Source Code", url: "https://github.com/greenwebsevilla/Hermano", link_type: Source),
    ],
)
