(
    title: "Star Wars - The Arcade Game Batari (F6 Conversion)",
    releases: [
        (
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("F6"),
            ),
            artifacts: [
                (
                    sha1: "00bcd750881110dcebb0971f3d1f28c036d16705",
                ),
                (
                    sha1: "a882beb10ac76f927ca16f4eff3b9f3d9ed21c43",
                ),
            ],
        ),
    ],
)
