(
    title: "Hyper Cat",
    developer: Some("Andrew G. Crowell"),
    covers: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/hyper-cat/hypercat.png",
    ],
    screenshots: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/hyper-cat/hypercat.png",
    ],
    releases: [
        (
            sources: [
                HomebrewHub(
                    slug: "hyper-cat",
                    filename: "hypercat.gb",
                ),
            ],
        ),
    ],
)
