(
    title: "JetMan 1K",
    publisher: Some("Chris Walton"),
    date: Some("2005"),
    tv_format: Some(Ntsc),
    cart_type: Some("2K"),
    hashes: ["af3fabeb110e1e8fb8fe3c63c9086bbce142b7a2"],
    source: None,
)
