(
    title: "AtariAge Combat Redux Design Contest - BillLoguidice_5",
    publisher: Some("Loguidice"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("2K"),
    hashes: ["35ac098197ff32bab8dcb0888b67e3c2373e1720"],
    source: None,
)
