(
    title: "FlapPing",
    publisher: Some("Kirk Israel"),
    date: Some("2005"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["08555905609caf43fe6e16e65a5fb1804e42646c"],
    source: None,
)
