(
    title: "Multi-Sprite Game V2.0 (Piero Cavina) (PD)",
    publisher: Some("Cavina"),
    date: Some("1997"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["3b55069779857d2462e8e903febb962d3231028d"],
    source: None,
)
