(
    title: "Trve Metal Crossing",
    developer: Some("Scotaire"),
    description: Some("Can you and your friends perform the most popular music show?"),
    tags: [
        "Adventure",
        "event:gbshowdown23",
    ],
    covers: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/trve-metal-crossing/cover.png",
    ],
    screenshots: [
        "https://raw.githubusercontent.com/gbdev/database/master/entries/trve-metal-crossing/bGUuE2F.gif",
        "https://raw.githubusercontent.com/gbdev/database/master/entries/trve-metal-crossing/uRCGWr.png",
        "https://raw.githubusercontent.com/gbdev/database/master/entries/trve-metal-crossing/cIJAKo.png",
    ],
    releases: [
        (
            sources: [
                HomebrewHub(
                    slug: "trve-metal-crossing",
                    filename: "game.gb",
                ),
                Itch(
                    url: "https://scotaire.itch.io/trve-metal-crossing",
                ),
            ],
        ),
    ],
)
