(
    title: "The Sound Machine - One Man and his Droid",
    publisher: Some("Manuel Rotschkar"),
    date: Some("2003"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["c9a169729cca52135fb5569d87c0b74a99b9edfa"],
    source: None,
)
