(
    title: "Star Box",
    publisher: Some("Chris Read"),
    date: Some("2006"),
    tv_format: Some(Ntsc),
    cart_type: Some("2K"),
    hashes: ["1bb04551220dd726481dc0488beea673ab212aa3"],
    source: None,
)
