(
    title: "Max Pirate",
    platform: GB,
    developer: Some("Lemmy Hawkins"),
    description: Some("A small action game. Smash zombies with your anchor and your cannon Bessie. Made with GBDK-2020."),
    hashes: [],
    source: Some(HomebrewHub(slug: "maxpirate", filename: "maxpirate.gb")),
    license: Some("MIT"),
    tags: ["Open Source", "Action"],
    links: [
        (name: "Source Code", url: "https://github.com/MWehrstedt/MaxPirate", link_type: Source),
    ],
)
