(
    title: "Pac Ghost Sprite Demo 2 (PD)",
    publisher: Some("PD"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["e9fc2e12038d2da2988868a69bb3ef6aa95992eb"],
    source: None,
)
