(
    title: "Nuke-a-Mole (Missile Command Hack)",
    publisher: Some("Eric Schwartz"),
    date: Some("2005"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["83adca3728195fb84606706e71459e088ef273f7"],
    source: None,
)
