(
    title: "Hack 'Em [h] [Pesco - Pause Test]",
    publisher: Some("Nukey Shay"),
    date: Some("2005"),
    tv_format: Some(Pal),
    cart_type: Some("F8"),
    hashes: ["fa38bb11a53ed6eb29530839f5a49d4a956f142b", "fc2d6c63152a92f6c018f9056225abf94ffe0241"],
    source: None,
)
