(
    title: "Sqrxz",
    date: Some("1999-05-05"),
    developer: Some("Icarus Productions"),
    hashes: [],
    source: Some(HomebrewHub(slug: "sqrxz", filename: "sqrxz.gb")),
    screenshots: ["sqrxz.png"],
)
