(
    title: "Slime Dungeon",
    releases: [
        (
            regions: [
                World,
            ],
            artifacts: [
                (
                    sha1: "926e584b8952aba86761b430daedc5b91177e408",
                ),
            ],
        ),
    ],
)
