(
    title: "Centipede 2k (PD) (Hack)",
    publisher: Some("Ed Emmerling"),
    date: Some("2000"),
    tv_format: Some(Ntsc),
    cart_type: Some("F8"),
    hashes: ["d16b7b8330cba76a71d53b76aedc44c315aca0cc"],
    source: None,
)
