(
    title: "Bubble Factory",
    platform: GB,
    developer: Some("Donald Hays"),
    hashes: [],
    source: Some(HomebrewHub(slug: "bubble-factory", filename: "bubble-factory.gb")),
    screenshots: ["bubble-factory.png"],
    links: [
        (name: "Website", url: "https://donaldhays.com/projects/bubble-factory/", link_type: Wiki),
        (name: "Source Code", url: "https://github.com/DonaldHays/bubblefactory", link_type: Source),
    ],
)
