(
    title: "Birthday Mania (Paddle)",
    publisher: Some("Personal Games Company"),
    date: Some("1984"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["d51e8f48f985557da31a70ed79b044dd52381b25"],
    source: None,
)
