(
    title: "Pyramid War",
    publisher: Some("Rainbow Vision"),
    date: Some("1983"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["863be051c1c55f611555d228b6e35fd24509b6a0", "bc483097f94f2bf9c4d3366b3bd25200f2e2f22a"],
    source: None,
)
