(
    title: "Dizzy Wiz (B. Watson)",
    releases: [
        (
            date: Some("2001"),
            publisher: Some("Brian Watson"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "d9823cf0e614b4721bf11b4b3c5d0e8e67a04d7f",
                ),
            ],
        ),
    ],
)
