(
    title: "Bin Day!",
    platform: GB,
    developer: Some("sjd"),
    description: Some("Game Boy Showdown 2023"),
    hashes: [],
    source: Some(HomebrewHub(slug: "bin-day", filename: "BinDay.gb")),
    tags: ["event:gbshowdown23"],
    links: [
        (name: "Website", url: "https://sjd-sjd.itch.io/bin-day", link_type: Wiki),
    ],
)
