(
    title: "Fire Birds",
    publisher: Some("ITT Family Games"),
    date: Some("1983"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["52e5067109b7e372952a7d0094cef8d16d32a939"],
    source: None,
)
