(
    title: "Reskenge (Donkey Kong Hack)",
    releases: [
        (
            date: Some("2006"),
            publisher: Some("Tim Martin"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "4e40c23fc97e27ff55aea6c410a1cd3754020d81",
                ),
                (
                    sha1: "dfa48772d62c31c517977b3ddbb74c6dc7357a7f",
                ),
            ],
        ),
    ],
)
