(
    title: "AtariAge Indy 500 XE Track Design Contest - PMitch_14",
    publisher: Some("pmitch_3m"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["753a84eb9900406bc58aa46de00ab104fb3a37c2"],
    source: None,
)
