(
    title: "Wayne\'s World",
    releases: [
        (
            regions: [
                Usa,
            ],
            hardware: (
                cgb: NotEnhanced,
            ),
            artifacts: [
                (
                    sha1: "7165b8f31f1c5f783c8cad0399a3d71e87091ba2",
                    size: Some(262144),
                ),
            ],
        ),
    ],
)
