(
    title: "Labyrinth",
    platform: GB,
    developer: Some("Martin Ekelof"),
    hashes: [],
    source: Some(HomebrewHub(slug: "labyrinth", filename: "Labyrinth.gb")),
    tags: ["event:bung-2nd-coding-compo"],
)
