(
    title: "Rubik\'s Cube",
    releases: [
        (
            date: Some("1984"),
            publisher: Some("Atari"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "ad2310ff6548d2972e2104f1095792b10a58f606",
                ),
            ],
        ),
    ],
)
