(
    title: "Bones (Arcade Golf Hack)",
    releases: [
        (
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "d03ff706734ca03c813287ba80c890fa26a14c3d",
                ),
            ],
        ),
    ],
)
