(
    title: "Pega Ladrão (Dismac)",
    publisher: Some("Dismac"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["7d154f99027418a7717d101cd7ad69cbe1c484b9"],
    source: None,
)
