(
    title: "Dragon Ball Z - I Leggendari Super Guerrieri (Italy) (Beta) (All Unlocked)",
    region: Some("Italy"),
    hashes: ["56dee34337a8893097cbffd7ea8aff76caef92d0", "621571759c021b564339efdc969d9bcef4c908dc"],
    source: None,
)
