(
    title: "Cosmic Swarm - Angriff der Termiten (Termite)",
    publisher: Some("CommaVid"),
    date: Some("1982"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["31d45815cbaf834410bbbc0473029f2b6b8a3429"],
    source: None,
)
