(
    title: "Friendly Pirates",
    year: Some("2023"),
    developer: Some("Eric Studio40A"),
    hashes: [],
    source: Some(HomebrewHub(slug: "friendly-pirates", filename: "afriendlypirates.gb")),
    tags: ["Platform", "event:gbshowdown23"],
    screenshots: ["cover.png", "F6Xv5A.gif"],
    links: [
        (name: "Website", url: "https://mbaran.itch.io/friendly-pirates", link_type: Wiki),
    ],
)
