(
    title: "Stay Frosty",
    publisher: Some("SpiceWare"),
    date: Some("2010"),
    tv_format: Some(Pal),
    cart_type: Some("F6"),
    hashes: ["bd99da5547623648334d32bf97d41484466a0c19"],
    source: None,
)
