(
    title: "Zyx",
    publisher: Some("Chris Read"),
    date: Some("2006"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["842721df4aacd9e5cc2decc3da2bb43f4174523b"],
    source: None,
)
