(
    title: "Kiss Meets Pacman (Hack)",
    publisher: Some("Cody Pittman"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["128c3a98d78b043edabe8964cf7998955342fa2d"],
    source: None,
)
