(
    title: "Grover\'s Music Maker (12-29-1982) (Prototype)",
    releases: [
        (
            date: Some("1982"),
            publisher: Some("Atari"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("F8"),
            ),
            artifacts: [
                (
                    sha1: "b9760ffba05139bca0fac3f7d3dc1e5d57600eda",
                ),
                (
                    sha1: "c90acaee066f97efc6a520deb7fa3e5760a471fa",
                ),
            ],
        ),
    ],
)
