(
    title: "Carazu",
    platform: GB,
    developer: Some("Martin Holtkamp"),
    hashes: [],
    source: Some(HomebrewHub(slug: "carazu", filename: "carazu.gb")),
    license: Some("GPL-3.0-or-later"),
    tags: ["Platform", "Open Source"],
    screenshots: ["screenshot01.bmp", "screenshot02.bmp"],
    links: [
        (name: "Website", url: "https://gamejolt.com/games/carazu/184403", link_type: Wiki),
        (name: "Source Code", url: "https://github.com/mholtkamp/carazu", link_type: Source),
    ],
)
