(
    title: "World Cup Striker (Japan) (En)",
    platform: GB,
    region: Some("Japan"),
    hashes: ["4c976fc98a85089cfae7e7af7de6baef31e39f92", "9cf86669d784a724eeb3409df732ce84afd38942"],
    source: None,
)
