(
    title: "Stratacombo (World) (v1.0) (Proto) (GB Compatible)",
    region: Some("World"),
    hashes: ["3c621c921d7995acb88754634328de8ec32b444b", "9931a9e3a0e4a0edcd336acfb433713991a50ad2"],
    source: None,
)
