(
    title: "Friki Race",
    platform: GB,
    developer: Some("Enrique Sanchez"),
    hashes: [],
    source: Some(HomebrewHub(slug: "friki-race", filename: "frikirc.gb")),
    tags: ["Racing", "event:bung-2nd-coding-compo"],
    screenshots: ["frikirace.png", "20110402_friki_race.png"],
)
