(
    title: "Cache Cache",
    developer: Some("farfadet46"),
    description: Some("my game for the game boy showdown 2023"),
    hashes: [],
    source: Some(HomebrewHub(slug: "cache-cache", filename: "cachecahe.gb")),
    tags: ["Puzzle", "event:gbshowdown23"],
    screenshots: ["cover.png", "o0EAKx.png"],
    links: [
        (name: "Website", url: "https://farfadet46.itch.io/cache-cache", link_type: Wiki),
    ],
)
