(
    title: "One Giant Mooo (Prince Naseem Boxing)",
    date: Some("2001-01-01"),
    developer: Some("Capital"),
    hashes: [],
    source: Some(HomebrewHub(slug: "one-giant-mooo", filename: "cpl-i_05.gbc")),
    screenshots: ["208.png"],
)
