(
    title: "Space Invaders Deluxe (Space Invaders Hack)",
    publisher: Some("Kurt Howe"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["c06d902c9d528d6e14958e1bbf454316d8142ade"],
    source: None,
)
