(
    title: "Pac-Zerk Plus (Berzerk Hack) [a]",
    publisher: Some("Scott Dayton"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["aaf4e42fbcfc98cf5bc2344977956cac195dbac2"],
    source: None,
)
