(
    title: "Beauty Girls Volume 1",
    developer: Some("Dox"),
    hashes: [],
    source: Some(HomebrewHub(slug: "beauty-girls-volume-1", filename: "beauty-girls-volume-1.gbc")),
    screenshots: ["beauty-girls-volume-1.png"],
)
