(
    title: "A Slime Travel",
    developer: Some("Dribble Studios"),
    hashes: [],
    source: Some(HomebrewHub(slug: "a-slime-travel", filename: "aslimetravel.gbc")),
    license: Some("Zlib"),
    tags: ["Platform"],
    screenshots: ["aslimetravel0.png", "aslimetravel1.bmp", "aslimetravel2.bmp"],
)
