(
    title: "Arcade Classic No. 1 - Asteroids & Missile Command (USA, Europe) (SGB Enhanced)",
    region: Some("USA, Europe"),
    hashes: ["a4849175191c44d878aff9ef1a86c3fe5e22e266"],
    source: None,
)
