(
    title: "Sky Patrol (Proto)",
    publisher: Some("Imagic"),
    date: Some("1982"),
    tv_format: Some(Ntsc),
    cart_type: Some("F8"),
    hashes: ["fc5f1e30db3b2469c9701dadfa95f3268fd1e4cb"],
    source: None,
)
