(
    title: "WWF Betrayal +5 / Are You Real?!",
    date: Some("2001-08-13"),
    developer: Some("Dual Crew Shining"),
    hashes: [],
    source: Some(HomebrewHub(slug: "wwf-betrayal-5-are-you-real", filename: "wwf-betrayal-5-are-you-real.gbc")),
    screenshots: ["wwf-betrayal-5-are-you-real.png"],
)
