(
    title: "Nada Asatarou & Kojima Takeo no Jissen Mahjong Kyoushitsu (Japan) (SGB Enhanced)",
    platform: GB,
    region: Some("Japan"),
    hashes: ["20ba98670eb3bf18756f15e50b5fc65f58a15918"],
    source: None,
)
