(
    title: "Laser Blast Redux (Space Jockey Hack)",
    releases: [
        (
            publisher: Some("4K"),
            hardware: (
                tv_format: Some(Pal),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "1ce56032cae0255c6c08f9ededdf50a4de1784ff",
                ),
            ],
        ),
    ],
)
