(
    title: "Maze Runner - Atari-Style Version",
    date: Some("2000-08-03"),
    hashes: [],
    source: Some(HomebrewHub(slug: "maze-runner-atari-style", filename: "Maze Runner - Atari-Style Version (Quang2000) (PD) [C].gbc")),
    screenshots: ["Maze Runner - Atari-Style Version (Quang2000) (PD) [C].png"],
)
