(
    title: "RAM Helicopter",
    publisher: Some("Rick Skrbina"),
    date: Some("2010"),
    tv_format: Some(Ntsc),
    cart_type: Some("2K"),
    hashes: ["e4c691c3981d3c8db5cd19a8e1824165bb63732c"],
    source: None,
)
