(
    title: "Bogey Blaster",
    publisher: Some("Telegames"),
    date: Some("1988"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["6e3af361bbf70a4a85d6c8d4ed4070e8fed963cb"],
    source: None,
)
