(
    title: "Get!! Loto Club",
    releases: [
        (
            regions: [
                Japan,
            ],
            status: Prototype,
            hardware: (
                cgb: Enhanced,
            ),
            artifacts: [
                (
                    sha1: "c22b9e28cbd3d90d8c76dac743e917d6dbe9db05",
                    size: Some(1048576),
                ),
            ],
        ),
    ],
)
