(
    title: "Tunnel Runner",
    publisher: Some("CBS Electronics"),
    date: Some("1983"),
    tv_format: Some(Ntsc),
    cart_type: Some("FA"),
    hashes: ["af202ee515b41113660bdf4500802108b12f85a3", "fc1a0b58765a7dcbd8e33562e1074ddd9e0ac624"],
    source: None,
)
