(
    title: "Decathlon",
    publisher: Some("Activision"),
    date: Some("1983"),
    tv_format: Some(Ntsc),
    cart_type: Some("FE"),
    hashes: ["717656f561823edaa69240471c3106963f5c307e", "7a89163982d0b3c89ed87371334b6a10c56e1d2a"],
    source: None,
)
