(
    title: "Roc 'n Rope",
    publisher: Some("Coleco"),
    date: Some("1984"),
    tv_format: Some(Ntsc),
    cart_type: Some("F8"),
    hashes: ["0abf0a292d4a24df5a5ebe19a9729f3a8f883c8b", "104375b2b8a5434971cddde6ef8edf56f7e65046"],
    source: None,
)
