(
    title: "Final Fantasy Legend III (USA)",
    platform: GB,
    region: Some("USA"),
    hashes: ["3864afa48a97db826ffda1d31a7ff9c6c315d5c9", "5190b0ef6264e26af21dc0097fd5608cb619fb63"],
    source: None,
)
