(
    title: "Rubik's Cube Demo 2 (23-12-2002) (Christopher Tumber)",
    publisher: Some("CT"),
    date: Some("2002"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["847d5e6e55df66294db35d78f6b28fb4fe387d66"],
    source: None,
)
