(
    title: "Multi Demo 4 (Bob Colbert) (PD)",
    publisher: Some("Bob Colbert"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["7806fc4834c05e411a13f7f6f4ad7006b9cb448e"],
    source: None,
)
