(
    title: "The Sound Machine - Boulder Dash 1 [a]",
    publisher: Some("Manuel Rotschkar"),
    date: Some("2008"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["2deebe07c7c8ccd09ae7298d02003ee40659a482"],
    source: None,
)
