(
    title: "Sokoban [a1] (01-01-2003) (Adam Wozniak)",
    publisher: Some("Adam Wozniak"),
    date: Some("2003"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["838cadb8a3e62aa67cf9f5baf835b510bf4298c3"],
    source: None,
)
