(
    title: "Snake",
    date: Some("2013-08-28"),
    developer: Some("Sanky"),
    hashes: [],
    source: Some(HomebrewHub(slug: "snake-sanky", filename: "snake.gbc")),
    tags: ["Open Source"],
    screenshots: ["screenshot.bmp"],
    links: [
        (name: "Source Code", url: "https://bitbucket.org/Sanqui/snake/src/?at=master", link_type: Source),
    ],
)
