(
    title: "Bug Bites",
    platform: GB,
    developer: Some("MOL"),
    description: Some("A game that might bug you a little..."),
    hashes: [],
    source: Some(HomebrewHub(slug: "bugbites", filename: "Bug_Bites!.gb")),
    tags: ["event:gbshowdown23"],
    links: [
        (name: "Website", url: "https://dunktasty.itch.io/bugbites", link_type: Wiki),
    ],
)
