(
    title: "Tooth Protectors",
    publisher: Some("Camelot"),
    date: Some("1983"),
    tv_format: Some(Ntsc),
    cart_type: Some("E0"),
    hashes: ["d82ac7237df54cc8688e3074b58433a7dd6b7d11"],
    source: None,
)
