(
    title: "Grub Glide",
    platform: GB,
    developer: Some("Ethan Hazel"),
    hashes: [],
    source: Some(HomebrewHub(slug: "grub-glide", filename: "GrubGlide.gb")),
    license: Some("Zlib"),
    tags: ["Open Source", "Action"],
    links: [
        (name: "Source Code", url: "https://github.com/Exetric/GrubGlide", link_type: Source),
    ],
)
