(
    title: "Map-Man (WIP)",
    publisher: Some("Jonathon Bont"),
    date: Some("2010"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["0ebe2ff71b53f5fec0fdd7d50f17b63dcdc2fb5a"],
    source: None,
)
