(
    title: "Stoic Software's Tribute to the United States",
    date: Some("2001-09-13"),
    developer: Some("Stoic Software"),
    hashes: [],
    source: Some(HomebrewHub(slug: "stoic-software-tribute-usa", filename: "Stoic Software's Tribute to the United States (PD) [C].gbc")),
    screenshots: ["Stoic Software's Tribute to the United States (PD) [C].png"],
)
