(
    title: "Hummingbird (WIP)",
    publisher: Some("rpgfaker"),
    date: Some("2009"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["4335bc347ba5e354783ff84757875e1c93f7794f"],
    source: None,
)
