(
    title: "Silicon",
    releases: [
        (
            date: Some("2004"),
            publisher: Some("Manuel Rotschkar"),
            status: WorkInProgress,
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "03b65719e34f12c64ec611862fb90f2703ad2013",
                ),
            ],
        ),
    ],
)
