(
    title: "Mario vs. The Atomic Ape V2 (Frankenstein's Monster Hack)",
    publisher: Some("Scott Dayton"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["cdfbb5390832d4a6848bbada6e74462832d09f4c"],
    source: None,
)
