(
    title: "Uppa Creek!",
    publisher: Some("Jason Santuci"),
    date: Some("2010"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["663b24daa607335556f0a18bd7bef5e45b34df0d"],
    source: None,
)
