(
    title: "Skate or Die (BMX Airmaster Hack)",
    publisher: Some("Shawn Davis Sr."),
    date: Some("2005"),
    tv_format: Some(Ntsc),
    cart_type: Some("F6"),
    hashes: ["16f36364ee17b593d3130bf86053c2792734b7e9"],
    source: None,
)
