(
    title: "Texas Chainsaw Massacre, The (Proto)",
    publisher: Some("Wizard Video Games"),
    date: Some("1983"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["1f1660223abeee3113c3f75bf4d9cbb3b1cf49e4", "717122a4184bc8db41e65ab7c369c40b21c048d9"],
    source: None,
)
