(
    title: "Wink & the Broken Robot",
    releases: [
        (
            label: Some("Beta 6"),
            regions: [
                World,
            ],
            status: Beta,
            artifacts: [
                (
                    sha1: "f580ec863b7a92edc94187bc54bf47f3d254b6b7",
                ),
            ],
        ),
    ],
)
