(
    title: "Loppi Puzzle Magazine - Hirameku Puzzle Soukangou (Japan) (SGB Enhanced, GB Compatible) (NP)",
    region: Some("Japan"),
    hashes: ["7425bd94790866bf716fd3c23886a5cdc06f1aad", "f977d3dd6395066bbea729ea547c7a81e1c4464d"],
    source: None,
)
