(
    title: "RunieStory - Gameboy color / Analogue Pocket",
    platform: GB,
    developer: Some("Spicyfuse"),
    description: Some("Action rpg about making friends with a fantasy town"),
    hashes: [],
    source: Some(HomebrewHub(slug: "runiestory", filename: "RunieStory.gb")),
    tags: ["Adventure", "event:gbshowdown23"],
    screenshots: ["cover.gif", "Xjo6LG.gif", "DDUmIf.gif", "67V8aM.gif", "CfyiwH.jpeg", "F8i0kr.jpeg", "GpAjn1.jpeg", "JeIbtS.jpeg", "nCvAo5.jpeg", "2B2FKAYY.jpeg"],
    links: [
        (name: "Website", url: "https://spicyfuse.itch.io/runiestory", link_type: Wiki),
    ],
)
