(
    title: "Kung-Fu Master [a]",
    releases: [
        (
            date: Some("1987"),
            publisher: Some("Activision"),
            hardware: (
                tv_format: Some(Pal),
                cart_type: Some("F8"),
            ),
            artifacts: [
                (
                    sha1: "7a02c0226d9d0aa55c8ce9a0e506640b4c95b7b8",
                ),
            ],
        ),
    ],
)
