(
    title: "Super Kung-Fu [a]",
    publisher: Some("Xonox"),
    date: Some("1983"),
    tv_format: Some(Pal),
    cart_type: Some("F8"),
    hashes: ["1a88ecfb29e129f22b6e2da2f8cb68f7bd215831"],
    source: None,
)
