(
    title: "Space Shuttle - A Journey Into Space",
    publisher: Some("Activision"),
    date: Some("1983"),
    tv_format: Some(Secam),
    cart_type: Some("FE"),
    hashes: ["2e1510eaa9b58d7e0f3b58b26267c8ccd1614e3c", "bcec5a66f8dff1a751769626b0fce305fab44ca2"],
    source: None,
)
