(
    title: "LCP2000",
    date: Some("2000-01-01"),
    developer: Some("Megaboys"),
    hashes: [],
    source: Some(HomebrewHub(slug: "lcp2000", filename: "1MB - LCP2000.gbc")),
    screenshots: ["100.png", "101.png", "102.png"],
)
