(
    title: "Bomb Tracker",
    platform: GB,
    developer: Some("RetroBitNinja"),
    hashes: [],
    source: Some(HomebrewHub(slug: "retrobitninja_bomb-tracker", filename: "bomb-tracker_jam.gb")),
    tags: ["2D", "Retro", "Puzzle", "Singleplayer", "event:gbcompo25"],
    screenshots: ["cover.jpg", "screenshots/2FeuF65.png", "screenshots/rhSjt5.png", "screenshots/RHUEca.png"],
    links: [
        (name: "Website", url: "https://retrobitninja.itch.io/bomb-tracker", link_type: Wiki),
    ],
)
