(
    title: "Mario\'s Picross",
    releases: [
        (
            title: Some("Mario no Picross"),
            regions: [
                Japan,
            ],
            hardware: (
                sgb: Enhanced,
                cgb: NotEnhanced,
            ),
            artifacts: [
                (
                    sha1: "6b72cbff3e224299eff6f79e0110a477b8f840c2",
                    size: Some(262144),
                ),
            ],
        ),
        (
            title: Some("Mario no Picross"),
            regions: [
                Japan,
            ],
            status: Beta,
            hardware: (
                sgb: Enhanced,
                cgb: NotEnhanced,
            ),
            artifacts: [
                (
                    sha1: "ba0b3b36afeaed9bfa3c717b0749bc2398627953",
                    size: Some(262144),
                ),
            ],
        ),
        (
            regions: [
                Usa,
                Europe,
            ],
            hardware: (
                sgb: Enhanced,
                cgb: NotEnhanced,
            ),
            artifacts: [
                (
                    sha1: "9712f37171b8a0cdc99a60170ea7b2aed161195e",
                    size: Some(262144),
                ),
            ],
        ),
    ],
)
