(
    title: "Mygame",
    date: Some("2000-01-19"),
    developer: Some("Unknown"),
    hashes: [],
    source: Some(HomebrewHub(slug: "mygame", filename: "Mygame.gb")),
    tags: ["Adventure", "event:bung-3rd-coding-compo"],
    screenshots: ["Mygame-0.png"],
)
