(
    title: "Borg Wars Budget Pinball (Video Pinball Hack)",
    releases: [
        (
            date: Some("2004"),
            publisher: Some("Jack Kortkamp"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "3a7897be80b911942e213f408edc8784a1dc65c2",
                ),
            ],
        ),
    ],
)
