(
    title: "CGB Test Cartridge   [b]",
    releases: [
        (
            label: Some("En"),
            regions: [
                Japan,
            ],
            artifacts: [
                (
                    sha1: "5133d3dc7a4ced9d059dc72f0f351cb44e22f096",
                    size: Some(65536),
                ),
            ],
        ),
    ],
)
