(
    title: "Stuart Little - The Journey Home (Europe) (Fr,De)",
    region: Some("Europe"),
    hashes: ["153f8ffab32e78dd4a6c2eec4560b2cf6509774d", "d3c31e41709c54af328787036db1b98997f508ea"],
    source: None,
)
