(
    title: "Bug's Life, A (Europe) (SGB Enhanced) (GB Compatible)",
    region: Some("Europe"),
    hashes: ["4c689ce3b99a5b585a452b095d72a688391ea0eb", "dfc7b45c8f2d45cbf5c7578294ca569d2cf22dcd"],
    source: None,
)
