(
    title: "Hype - The Time Quest (Europe) (En,Fr,De,Es,It,Nl,Sv,Da)",
    region: Some("Europe"),
    hashes: ["7c7dca7c48dc478d0278c273ba37723b9e9dce5b", "8e26e7e2e64d4bf866b67387586fc5c4a9c56855"],
    source: None,
)
