(
    title: "Hype - The Time Quest",
    releases: [
        (
            label: Some("En"),
            regions: [
                Brazil,
            ],
            artifacts: [
                (
                    sha1: "7c7dca7c48dc478d0278c273ba37723b9e9dce5b",
                    size: Some(1048576),
                ),
            ],
        ),
        (
            label: Some("En,Fr,De,Es,It,Nl,Sv,Da"),
            regions: [
                Europe,
            ],
            artifacts: [
                (
                    sha1: "8e26e7e2e64d4bf866b67387586fc5c4a9c56855",
                    size: Some(1048576),
                ),
            ],
        ),
    ],
)
