(
    title: "Grind Jet",
    platform: GB,
    developer: Some("voxel"),
    hashes: [],
    source: Some(HomebrewHub(slug: "grind-jet", filename: "grind-jet.gb")),
    screenshots: ["grind-jet.png"],
)
