(
    title: "Chibi Maruko-chan 4 - Kore ga Nihon Da yo! Ouji-sama (Japan)",
    platform: GB,
    region: Some("Japan"),
    hashes: ["a4b268924e2fb500b8b13461a9cb20aec648a52f"],
    source: None,
)
