(
    title: "HitoriGB",
    platform: GB,
    developer: Some("Max Gerckens"),
    hashes: [],
    source: Some(HomebrewHub(slug: "hitorigb", filename: "hitori.gb")),
    screenshots: ["hitori.png"],
    links: [
        (name: "Website", url: "https://github.com/MGerckens/HitoriGB", link_type: Wiki),
    ],
)
