(
    title: "NAN0B0MBA",
    platform: GB,
    developer: Some("aeb"),
    hashes: [],
    source: Some(HomebrewHub(slug: "nan0b0mba", filename: "nan0b0mba.gb")),
    screenshots: ["nan0b0mba.png"],
)
