(
    title: "Nuts",
    publisher: Some("Starsoft"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["9b6421326fd8434277ec88e0cec307be700be99d", "d3c0f973f2b31c14dc3ad2d91fe8bbbb42bce269"],
    source: None,
)
