(
    title: "Goukaku Boy Series - Nihonshi Target 201",
    releases: [
        (
            regions: [
                Japan,
            ],
            hardware: (
                cgb: NotEnhanced,
            ),
            artifacts: [
                (
                    sha1: "d6178851d778bf794a0fce14a831f6e2cd991f22",
                    size: Some(262144),
                ),
            ],
        ),
    ],
)
