(
    title: "Greeting Cart - Darlen",
    releases: [
        (
            date: Some("2003"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "957a5bfc8c0d3be9ec905cc985674c75f2308be4",
                ),
            ],
        ),
    ],
)
