(
    title: "Pac-Man 8K (Pac-Man Hack) [a]",
    releases: [
        (
            date: Some("2006"),
            publisher: Some("Kurt Howe"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("F8"),
            ),
            artifacts: [
                (
                    sha1: "85c3c3fc7e5a0264f86b3cf5bdfc86a1cb5e238c",
                ),
            ],
        ),
    ],
)
