(
    title: "Blood Bowl (Bowling Hack)",
    releases: [
        (
            date: Some("2006"),
            publisher: Some("Tim Martin"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("2K"),
            ),
            artifacts: [
                (
                    sha1: "b07f4e9134f3e618c6eae998eed05e0a3d48331e",
                ),
            ],
        ),
    ],
)
