(
    title: "V-Rally - Championship Edition",
    releases: [
        (
            label: Some("En,Fr,De"),
            regions: [
                Europe,
            ],
            hardware: (
                cgb: NotEnhanced,
            ),
            artifacts: [
                (
                    sha1: "67d2a6e41b6a1d8372808535ac8c8222d7c53480",
                    size: Some(262144),
                ),
            ],
        ),
    ],
)
