(
    title: "UEFA 2000",
    releases: [
        (
            label: Some("En,Fr,De,Es,It,Nl"),
            regions: [
                Europe,
            ],
            artifacts: [
                (
                    sha1: "56e5f0e62b65a265c85e1a88882b18139f26b94d",
                    size: Some(1048576),
                ),
            ],
        ),
        (
            label: Some("En,Fr,De,Es,It,Nl"),
            regions: [
                Europe,
            ],
            status: Beta,
            artifacts: [
                (
                    sha1: "9f44aa3230aba33c9c38c5e17f9cef2e9a10747e",
                    size: Some(1048576),
                ),
            ],
        ),
    ],
)
