(
    title: "Super Bunny Mission",
    year: Some("2023"),
    developer: Some("SÅdoDev"),
    description: Some("Get to the end and have a friendly conversation with the boss!"),
    hashes: [],
    source: Some(HomebrewHub(slug: "super-bunny-mission", filename: "SuperBunnyMission.gb")),
    tags: ["Platform", "event:gbshowdown23"],
    screenshots: ["cover.png", "vwk5nu.png"],
    links: [
        (name: "Website", url: "https://sododev.itch.io/super-bunny-mission", link_type: Wiki),
    ],
)
