(
    title: "Moomin\'s Tale",
    releases: [
        (
            title: Some("Moomin no Daibouken"),
            regions: [
                Japan,
            ],
            artifacts: [
                (
                    sha1: "0846545cebec8b376db9bdb0d3744c7d157ee980",
                    size: Some(2097152),
                ),
            ],
        ),
        (
            title: Some("Moomin no Daibouken"),
            regions: [
                Japan,
            ],
            status: Beta,
            artifacts: [
                (
                    sha1: "b60e7896fa4ceca42530f1de01e4691ee9590a7f",
                    size: Some(2097152),
                ),
            ],
        ),
        (
            label: Some("En,Fr,De"),
            regions: [
                Europe,
            ],
            artifacts: [
                (
                    sha1: "06e57b38b7f9ec71809f309aa7d220af48ca96b6",
                    size: Some(1048576),
                ),
            ],
        ),
    ],
)
