(
    title: "Daredevil (V1) (Stunt_Cycle_Rules!) (PD)",
    publisher: Some("PD"),
    tv_format: Some(Ntsc),
    cart_type: Some("2K"),
    hashes: ["272157d81b4c5e1209dc3cb39818546fb57c5815", "60aed04dc08e6d341e87f75f84bce4be72e1665c", "b3af88cae7f7aa94fada9fa41598882b3e489c14"],
    source: None,
)
