(
    title: "Troll's Adventure (Hack)",
    publisher: Some("Jack Kortkamp"),
    date: Some("2003"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["eb85e5a17b8c2d611bb0979716a9c37dacaf5efb"],
    source: None,
)
