(
    title: "Kick-Man (01-08-1982) (Prototype)",
    publisher: Some("CBS Electronics"),
    date: Some("1982"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["ad4f13f34148e45a3d83873d5cd2537def3599c6"],
    source: None,
)
