(
    title: "Deadly Duck [a]",
    publisher: Some("20th Century Fox Video Games"),
    date: Some("1982"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["9e4ced9e3675d335d7fdd7051ab035db3621543d"],
    source: None,
)
