(
    title: "Mage and the Grimoire of Beast (World) (En) (v1.01) (GB Compatible)",
    region: Some("World"),
    hashes: ["83f15e10963a2991636a382168aa035c7f340b3c", "89d7df077818f000fef3c59429a6deb1a423aa03"],
    source: None,
)
