(
    title: "Grey Screen With No Music",
    developer: Some("Spacepigs"),
    releases: [
        (
            date: Some("2018-08"),
            sources: [
                HomebrewHub(
                    slug: "grey-screen-with-no-music",
                    filename: "grey-screen-with-no-music.gb",
                ),
            ],
        ),
    ],
)
