(
    title: "Snow Hunter (4 Game in One)",
    publisher: Some("Bit Corporation"),
    date: Some("1983"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["c212b8d9b7fac45d6b69805ebba2ca103820ab48"],
    source: None,
)
