(
    title: "Mighty Morphin Power Rangers - The Movie (USA, Europe) (SGB Enhanced)",
    platform: GB,
    region: Some("USA, Europe"),
    hashes: ["0646bff26350059224a5dca807218ff02a4704af"],
    source: None,
)
