(
    title: "GB-Wordyl - Catalan (World) (Ca) (GB Compatible)",
    region: Some("World"),
    hashes: ["197d3d194d4cb6cae9a358f7fb53d6de649e7c5f", "6b38181ece91449f698832e3b5a5321e40813857"],
    source: None,
)
