(
    title: "Star Strike",
    publisher: Some("Telegames"),
    date: Some("1988"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["a0e29405a92773bf3baa2845788a8add8f3bc0b1", "de05d1ca8ad1e7a85df3faf25b1aa90b159afded"],
    source: None,
)
