(
    title: "Needles 1K (WIP)",
    publisher: Some("Simone Serra"),
    date: Some("2011"),
    tv_format: Some(Ntsc),
    cart_type: Some("2K"),
    hashes: ["a008f856687c92ba57c78ab704698ad049d88cfa"],
    source: None,
)
