(
    title: "Sprint Master DC",
    publisher: Some("Thomas Jentzsch"),
    tv_format: Some(Ntsc),
    cart_type: Some("F6SC"),
    hashes: ["769096bd2fd813c54af5b985f4797cbe25e14a04"],
    source: None,
)
