(
    title: "Gekokujō",
    developer: Some("JackOatley"),
    hashes: [],
    source: Some(HomebrewHub(slug: "jackoatley_gekokujo", filename: "gekokujo_jam.gb")),
    tags: ["Strategy", "event:gbcompo25"],
    screenshots: ["cover.png", "screenshots/Uzyy7v.png", "screenshots/eK2YV4.png", "screenshots/vOVOPU.png", "screenshots/bQlkkx.png", "screenshots/rkv2Fu.png", "screenshots/8zv172B.png"],
    links: [
        (name: "Website", url: "https://jackoatley.itch.io/gekokujo", link_type: Wiki),
    ],
)
