(
    title: "Nakajima Satoru Kanshuu - F-1 Hero GB '92 - The Graded Driver (Japan)",
    platform: GB,
    region: Some("Japan"),
    hashes: ["6fe738c80ecac86db44a032cb636abeb2b00c4cb"],
    source: None,
)
