(
    title: "Runner",
    releases: [
        (
            regions: [
                World,
            ],
            artifacts: [
                (
                    sha1: "da735d415ed463a953bac45f4793342bd9be2e96",
                ),
            ],
        ),
    ],
)
