(
    title: "The Sound Machine - Jingle Bells 1",
    publisher: Some("Manuel Rotschkar"),
    date: Some("2005"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["567c5fae541313c662a7c9d43e0a04bd3746cb34"],
    source: None,
)
