(
    title: "California Games",
    publisher: Some("Epyx"),
    date: Some("1987"),
    tv_format: Some(Ntsc),
    cart_type: Some("F6"),
    hashes: ["609c20365c3a71ce45cb277c66ec3ce6b2c50980", "def9502c5a37700ae03461b2d7cf2f73e91b4cec"],
    source: None,
)
