(
    title: "Soul Raiders: Jailbreak",
    developer: Some("Team KwaKwa"),
    hashes: [],
    source: Some(HomebrewHub(slug: "soul-raiders-jailbreak", filename: "soul-raiders-jailbreak.gb")),
    screenshots: ["soul-raiders-jailbreak.png"],
)
