(
    title: "BurgerTime",
    publisher: Some("M Network"),
    date: Some("1983"),
    tv_format: Some(Ntsc),
    cart_type: Some("E7"),
    hashes: ["2c48f64600dbc5e5fd618f3a13fdd610b189a905", "49e01b8048ae344cb65838f6b1c1de0e1f416f29"],
    source: None,
)
