(
    title: "Greeting Cart - Gretta Garbo",
    releases: [
        (
            date: Some("2003"),
            publisher: Some("Greg Zumwalt"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "b34943ff55dd858729046be6e82161fda19944e5",
                ),
            ],
        ),
    ],
)
