(
    title: "Friday the 13th - The Final Chapter (The Texas Chainsaw Massacre Hack)",
    publisher: Some("Tim Martin"),
    date: Some("2011"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["1599a679ae562039d764894efa778f78d3df0c8e"],
    source: None,
)
