(
    title: "ARCHAEA",
    developer: Some("Idk"),
    hashes: [],
    source: Some(HomebrewHub(slug: "idk1801_archaea", filename: "ARCHAEA.gb")),
    tags: ["Action-Adventure", "Retro", "GBJam", "gameb", "Space", "Adventure", "8-Bit", "event:gbcompo25"],
    screenshots: ["cover.png", "screenshots/DmaQs6.png", "screenshots/VkqYCY.png", "screenshots/9MTn4L.png", "screenshots/jRCQ45.png", "screenshots/TUNDEv.png"],
    links: [
        (name: "Website", url: "https://idk1801.itch.io/archaea", link_type: Wiki),
    ],
)
