(
    title: "Omega Race [o1]",
    releases: [
        (
            date: Some("1983"),
            publisher: Some("CBS Electronics"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("F6SC"),
            ),
            artifacts: [
                (
                    sha1: "ca4f26716120d2e4ba531c2ea50b570b9980756e",
                ),
            ],
        ),
    ],
)
