(
    title: "Spike's Peak",
    publisher: Some("Xonox"),
    date: Some("1983"),
    tv_format: Some(Pal),
    cart_type: Some("F8"),
    hashes: ["3b9868cf925a5e5ee5ddee5f2582d5e1899dade2", "6bf52bd85e251bed8aa8e04e2fd2f1bcc41ea986"],
    source: None,
)
