(
    title: "The Bored Game (WIP)",
    publisher: Some("Chris Read"),
    date: Some("2007"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["61714c32c361085c6bb3c041cfb5d93e4a88e408"],
    source: None,
)
