(
    title: "Loppi Puzzle Magazine - Kangaeru Puzzle Soukangou (Japan) (SGB Enhanced, GB Compatible) (NP)",
    region: Some("Japan"),
    hashes: ["5a476f79db61aa8c6f32bbabd82fade5cde811d2", "7e493878e0b755df3c6d6ab93c7b15b4b10a0896"],
    source: None,
)
