(
    title: "Rampart",
    releases: [
        (
            regions: [
                Japan,
            ],
            hardware: (
                cgb: NotEnhanced,
            ),
            artifacts: [
                (
                    sha1: "0e196236a21fc4558f3eab92ba38a574a1fde918",
                    size: Some(131072),
                ),
            ],
        ),
        (
            regions: [
                Usa,
                Europe,
            ],
            hardware: (
                cgb: NotEnhanced,
            ),
            artifacts: [
                (
                    sha1: "51e5408e5e8243c762f4218fd4138c849ee7d625",
                    size: Some(131072),
                ),
            ],
        ),
    ],
)
