(
    title: "Tomb Raider Underworld (Montezuma's Revenge Hack)",
    publisher: Some("StanJr"),
    date: Some("2009"),
    tv_format: Some(Ntsc),
    cart_type: Some("F6"),
    hashes: ["285d41cc9a0a7b6c1eab7e5596aa2ac4991aeed8"],
    source: None,
)
