(
    title: "The Powerpuff Girls - Battle Him",
    releases: [
        (
            regions: [
                Europe,
            ],
            artifacts: [
                (
                    sha1: "9d2cbe85c7c0da6ea4354822f85cd597bfaff1c5",
                    size: Some(2097152),
                ),
            ],
        ),
        (
            title: Some("The Powerpuff Girls - Bulle Contre Lui"),
            regions: [
                France,
            ],
            artifacts: [
                (
                    sha1: "5c1c53b9c002680c2da8b24aa31d4a247586263d",
                    size: Some(2097152),
                ),
            ],
        ),
        (
            title: Some("Las Super Nenas - Lucha Con Ese"),
            regions: [
                Spain,
            ],
            artifacts: [
                (
                    sha1: "06b0835c40d4f27ad45833d54f606a0964e09de0",
                    size: Some(2097152),
                ),
            ],
        ),
        (
            regions: [
                Usa,
            ],
            artifacts: [
                (
                    sha1: "3d90946a2cbe503d040b10958301587998d4e86f",
                    size: Some(2097152),
                ),
            ],
        ),
        (
            label: Some("Rev 1"),
            regions: [
                Usa,
            ],
            artifacts: [
                (
                    sha1: "8f22b2cd9552eb1146f0a78a9c9242c031046e1c",
                    size: Some(2097152),
                ),
            ],
        ),
    ],
)
