(
    title: "Space Debris",
    developer: Some("Unknown"),
    hashes: [],
    source: Some(HomebrewHub(slug: "space-debris", filename: "SpaceDebris.cgb")),
    tags: ["Action", "event:bung-3rd-coding-compo"],
    screenshots: ["20110402_space_debris.png"],
)
