(
    title: "Mystical Ninja Starring Goemon (Europe) (SGB Enhanced)",
    platform: GB,
    region: Some("Europe"),
    hashes: ["6674baaae85a8eb6e950f1ea30527321c942a9bc", "6a47ec0c2a81741d93687b85f966c6bfca039770"],
    source: None,
)
