(
    title: "AtariAge Indy 500 XE Track Design Contest - MoJoFLTR_26",
    publisher: Some("MoJoFLTR"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["fdf81774137a409954dc718089577bbff12285b8"],
    source: None,
)
