(
    title: "Blinky\'s Revenge",
    releases: [
        (
            regions: [
                World,
            ],
            artifacts: [
                (
                    sha1: "1c39cc02396c74e7b0b282ead510e94c77ff7f1e",
                ),
            ],
        ),
    ],
)
