(
    title: "If",
    releases: [
        (
            regions: [
                World,
            ],
            artifacts: [
                (
                    sha1: "c11d8dc9ce96133f679678b07822a82f985e16f9",
                ),
            ],
        ),
    ],
)
