(
    title: "final-tankasy",
    platform: GB,
    developer: Some("Messij"),
    hashes: [],
    source: Some(HomebrewHub(slug: "final-tankasy", filename: "final-tankasy.gb")),
    screenshots: ["final-tankasy.png"],
)
