(
    title: "Ikinari Bopper",
    developer: Some("Unknown"),
    hashes: [],
    source: Some(HomebrewHub(slug: "ikinari-bopper", filename: "ikinari-bopper.gb")),
    screenshots: ["ikinari-bopper.png"],
)
