(
    title: "Sokoban (01-01-2003) (Adam Wozniak)",
    publisher: Some("Adam Wozniak"),
    date: Some("2003"),
    tv_format: Some(Ntsc),
    cart_type: Some("4K"),
    hashes: ["b48235e86d2072292e8c58df505c965b22377524"],
    source: None,
)
