(
    title: "Goukaku Boy GOLD - Shikakui Atama o Maruku Suru - Keisan no Tatsujin (Japan) (Imagineer)",
    region: Some("Japan"),
    hashes: ["6b8726c69a31e674a4c5ab02631de073d42e7d52", "e2ac91493248869aba6b7d26a36e5ff6bd6d6f5a"],
    source: None,
)
