(
    title: "Pssst! Kernel (WIP)",
    publisher: Some("Chris Walton"),
    date: Some("2009"),
    tv_format: Some(Ntsc),
    cart_type: Some("F6"),
    hashes: ["dd46f3397ab9e52288ac7ba27ec907231d66a1e7"],
    source: None,
)
