(
    title: "Yu-Gi-Oh! Duel Monsters 4 - Battle of Great Duelist - Deck di Yugi (World) (It) (Early Days Collection)",
    region: Some("World"),
    hashes: ["2f3a5b70bd7e7293eea17bcb798e4644c7b9c7cd", "c7f200336a02e711412ddd71c73e73037eaf457d"],
    source: None,
)
