(
    title: "Rope & Bombs",
    developer: Some("Team Lampoil"),
    hashes: [],
    source: Some(HomebrewHub(slug: "ropeandbombs", filename: "ropeandbombs.gb")),
    tags: ["Puzzle"],
    screenshots: ["screenshot-1.png", "screenshot-2.png"],
)
