(
    title: "Hangman Pac-Man Biglist3 (Hack)",
    releases: [
        (
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("4K"),
            ),
            artifacts: [
                (
                    sha1: "ef2e818c86f31b1b5c91d2973b6599a6126f9313",
                ),
            ],
        ),
    ],
)
