(
    title: "Radikal Bikers",
    releases: [
        (
            label: Some("En,Fr,De,Es"),
            regions: [
                Europe,
            ],
            status: Prototype,
            artifacts: [
                (
                    sha1: "f16aa29669b15153a63ad92388768e38aa18fbf8",
                    size: Some(2097152),
                ),
            ],
        ),
    ],
)
