(
    title: "36 in 1",
    releases: [
        (
            label: Some("SL36-0032, Unl"),
            regions: [
                Taiwan,
            ],
            artifacts: [
                (
                    sha1: "63181a86fa4a653744e9c393aa9f113e981d9cc7",
                    size: Some(4194304),
                ),
            ],
        ),
    ],
)
