(
    title: "Super Zaxxon (Zaxxon Hack)",
    releases: [
        (
            date: Some("2003"),
            publisher: Some("Dr. Kwack"),
            hardware: (
                tv_format: Some(Ntsc),
                cart_type: Some("F8"),
            ),
            artifacts: [
                (
                    sha1: "03398d5e0b46ba53a425d8704805daa89eb61857",
                ),
            ],
        ),
    ],
)
