(
    title: "Wing War [a]",
    publisher: Some("Imagic"),
    date: Some("1983"),
    tv_format: Some(Pal),
    cart_type: Some("F8"),
    hashes: ["16df34446af2e6035ca871a00e1e8a008cfb8df4"],
    source: None,
)
