(
    title: "Brick Buster Demo (WIP)",
    publisher: Some("John Payson"),
    date: Some("2006"),
    tv_format: Some(Ntsc),
    cart_type: Some("AR"),
    hashes: ["60d189c1df2595d5596339eb0d7c974565ff6e4e"],
    source: None,
)
