(
    title: "Pokemon - Versione Gialla - Speciale Edizione Pikachu (Italy) (CGB+SGB Enhanced)",
    region: Some("Italy"),
    hashes: ["05bb8e99f24d498613930949730afa8024e77d08"],
    source: None,
)
