(
    title: "GB Debug",
    year: Some("1995"),
    developer: Some("Jeff Frohwein"),
    hashes: [],
    source: Some(HomebrewHub(slug: "gb-debug", filename: "GBD.GB")),
    screenshots: ["GBD.png"],
)
