(
    title: "Backwards Cannonball v1 (Hack)",
    publisher: Some("Atari Troll"),
    date: Some("2004"),
    tv_format: Some(Ntsc),
    cart_type: Some("2K"),
    hashes: ["91c02e5033eb1ba1d68690c247f6bcd5bfd796d0"],
    source: None,
)
