(
    title: "Boing! (Bubbles, Soap Suds, The Emphysema Game)",
    publisher: Some("First Star Software"),
    date: Some("1983"),
    tv_format: Some(Pal),
    cart_type: Some("4K"),
    hashes: ["d7a079a8874dcf059d10dc49831d6d9e2db68917"],
    source: None,
)
